body{

}
/* The container */
.container {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1.5px solid rgba(0,0,0,0.8); 
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    border: 1.5px solid rgba(0,0,0,0.8);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid rgba(0,0,0,0.8);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



#login{
	font-family: 'Roboto Condensed', sans-serif;
	.name-warning, .email-warning, .pass-warning, .pass-confirm-warning {
		color: red;
		float: right;
		margin-right: 20%;
	}
	.left-div{
		background-color: white;
		height: 100vh;
		padding: 0px;
		box-sizing: border-box;
		background-image: url('../img/traffic.PNG');
		background-position: 50% 80%;
		background-repeat: no-repeat;
		.black-overlay{
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.9);
			position: absolute;
		}
		.digitalhub-logo{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 45%;
			display: block;
		}
		.who-logo{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 10%;
			width: 50%;
			display: block;
		}
		.drake-logo{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			width: 30%;
			display: block;
			top: 65%;
		}
	}
	.right-div{
		padding-top: 5%;
		padding-left: 5%;

		.option-box{
			width: 50%;
			font-size: 15px;
			margin-top: 2%;
			color: grey;
			a{float: right}
			input[type="checkbox"]{
				position: relative;
				margin-right: 2%;
				top: 2px;
			}
		}
		.signin-btn{
			background-color: #ffd10a;
			width: 80%;
			margin-top: 3%;
			border: none;
			padding: 3% 0% 3% 0%;
			font-weight: 600;
		}
		.line{
			border-bottom: 1px solid rgba(0,0,0,0.1);
			width: 50%;
			height: 20px;
			background-color: transparent;
		}
		.help-box{
			margin-top: 2%;
			width: 50%;
			font-size: 15px;
			.help-link{
				float: left;
				color: grey;
			}
			.signup-link{
				float: right;
				color: grey;
			}
			
		}
 		a{color: rgba(0,0,0,0.7);font-weight: bold;cursor: pointer;}
 		a:hover{color: #ffd10a;}
	}
	input[type="text"],input[type="password"],input[type="email"]{
		width: 80%;
		height: 40px;
		padding: 2% 5% 2% 5%;
		border: 1px solid rgba(0,0,0,0.1);
	}
	select{
		width: 80%;
		height:40px;
		background: #fff;
		padding: 2% 5% 2% 5%;
		border: 1px solid rgba(0,0,0,0.1);
	}
	label{
   		font-weight: normal;
		color: rgba(0,0,0,0.9);
	}

}	
.pp-txt{
	text-align: center;
	color: grey;
}