<template>
  <div id="login">
    <div class="col-md-7 col-md-offset-4 right-div">
        <h2>Forgot your password?</h2>
        <br>
        <h5> You even remember your girl friend name. Why don't mine?</h5>
        <br>
        <div class="login-failed" v-show="loginFailed">
          <p>{{ loginMessage }}</p>
        </div>
        <label>Your Email Address</label>
        <label class="email-warning" v-show="emailWarning">Not a valid email Id</label>
        <br>
        <input type="email" name="email" v-model="email" @focus="loginFailed = false" required>
        <br>
        <br>
		<button class="signin-btn" @click="sendMail">SEND MAIL</button>
		<div class="line"></div>
		<div class="help-box">
			<span class="signup-link">Don't have an account?
				<router-link to="/signup"> SIGNUP</router-link>
			</span>
            <span class="help-link">Need help?
				<router-link to="/support"> Go to Support</router-link>
			</span>
        </div>
    </div>
</div>
</template>
<script>

	
	import router from '../router';

	const emailPattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

	export default {
        name: 'ForgotPassword',
        data()  {
        	return {
                loginMessage: 'Not a valid credentials.Please try again..',
        		email: '',
        		emailWarning: false,
        		loginFailed: false,
        	}
        },
        watch: {
        	email(newValue, oldValue) {
        		return this.emailWarning = this.email.match(emailPattern)? false : true;
        	}
        },
        created() {
        },
        mounted: function(){
        },
        methods : {
        	sendMail() {
        		const credentials = {
					email: this.email
				};
        		//api call 
        		this.axios.post('user/password/email',credentials)
        		.then((response) => {
                    this.email = '';
                    this.emailWarning = false;
                    this.showToast();
        			//router.push({ name: 'default' });                            //Redirect to home page
        		})
        		.catch((error) => {      			
        			console.log(error.response);
                    if(error.response.status == 401) {
                        this.loginMessage = error.response.data.msg;
                    }
        			this.loginFailed = true;
        		});  
        	},
            showToast() {
                this.$toasted.show("Please check your email for reset link.", { 
                    theme: "primary", 
                    position: "bottom-right", 
                    duration: 2000,
                    iconPack : 'material',
                    icon : {
                       name : 'check'
                    }
                });
            }
        }
    } 
</script>

<style lang="scss" src="../assets/css/login.scss" scoped></style>

