<template>
  <div class="border">
    <div class="help-div">
      <h2 class="text-center">WHO user guide</h2>
      <div class="shadow" v-for="(data,i) in faq" :key="i">
        <h4 @click="show(i)" class="cursor p-0">
          {{data.q}}
          <span v-if="visible(i)">
            <i class="material-icons">arrow_drop_up</i>
          </span>
          <span v-if="!visible(i)">
            <i class="material-icons">arrow_drop_down</i>
          </span>
        </h4>
        <div v-if="visible(i)">
          <div v-for="(s,j) in data.src" :key="j">
            <img :src="s" alt="data.src">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const faqUser = [
  {
    q: "Address Book",
    src: [
      "/src/assets/img/faq/Address Book/Screenshot 2018-12-09 at 4.33.29 PM.png "
    ]
  },
  {
    q: "View Processed",
    src: [
      "/src/assets/img/faq/Booking History/Screenshot 2018-12-09 at 4.33.34 PM.png"
    ]
  },
  {
    q: "Dashboard",
    src: [
      "/src/assets/img/faq/Dashboard/Screenshot 2018-12-09 at 4.31.02 PM.png"
    ]
  },
  {
    q: "Login",
    src: ["/src/assets/img/faq/Login/Screenshot 2018-12-09 at 4.30.24 PM.png"]
  },
  {
    q: "View Pending",
    src: [
      "/src/assets/img/faq/My Bookings/Screenshot 2018-12-09 at 4.33.57 PM.png"
    ]
  },
  {
    q: "Profile settings",
    src: [
      "/src/assets/img/faq/Profile settings/Screenshot 2018-12-09 at 4.30.30 PM.png",
      "/src/assets/img/faq/Profile settings/Screenshot 2018-12-09 at 4.30.37 PM.png"
    ]
  },
  {
    q: "Submit Request",
    src: [
      "/src/assets/img/faq/Request Courier/Screenshot 2018-12-09 at 4.31.13 PM.png",
      "/src/assets/img/faq/Request Courier/Screenshot 2018-12-09 at 4.31.34 PM.png",
      "/src/assets/img/faq/Request Courier/Screenshot 2018-12-09 at 4.32.49 PM.png",
      "/src/assets/img/faq/Request Courier/Screenshot 2018-12-09 at 4.32.58 PM.png",
      "/src/assets/img/faq/Request Courier/Screenshot 2018-12-09 at 4.33.05 PM.png"
    ]
  },
  {
    q: "Track and Trace",
    src: [
      "/src/assets/img/faq/Track and Trace/Screenshot 2018-12-09 at 4.33.41 PM.png",
      "/src/assets/img/faq/Track and Trace/Screenshot 2018-12-09 at 4.33.50 PM.png"
    ]
  }
];
const faqAdmin = [
  {
    q: "Address Book",
    src: [
      "/src/assets/img/faq/admin/Address Book/Screenshot 2018-12-09 at 4.33.29 PM.png"
    ]
  },
  {
    q: "View Processed",
    src: [
      "/src/assets/img/faq/admin/Booking History/Screenshot 2018-12-09 at 4.33.34 PM.png"
    ]
  },
  {
    q: "Dashboard",
    src: [
      "/src/assets/img/faq/admin/Dashboard/Screenshot 2018-12-09 at 4.31.02 PM.png"
    ]
  },
  {
    q: "Login",
    src: [
      "/src/assets/img/faq/admin/Login/Screenshot 2018-12-09 at 4.30.24 PM.png"
    ]
  },
  {
    q: "View Pending",
    src: [
      "/src/assets/img/faq/admin/My Bookings/Screenshot 2018-12-09 at 4.33.57 PM.png",
      "/src/assets/img/faq/admin/My Bookings/Screenshot 2018-12-09 at 5.40.45 PM.png",
      "/src/assets/img/faq/admin/My Bookings/Screenshot 2018-12-09 at 5.40.51 PM.png"
    ]
  },
  {
    q: "Profile settings",
    src: [
      "/src/assets/img/faq/admin/Profile settings/Screenshot 2018-12-09 at 4.30.30 PM.png",
      "/src/assets/img/faq/admin/Profile settings/Screenshot 2018-12-09 at 4.30.37 PM.png"
    ]
  },
  {
    q: "Report",
    src: [
      "/src/assets/img/faq/admin/Report/Screenshot 2018-12-09 at 5.36.03 PM.png"
    ]
  },
  {
    q: "Submit Request",
    src: [
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.34.42 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.34.51 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.35.00 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.35.09 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.35.34 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.35.41 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.35.48 PM.png",
      "/src/assets/img/faq/admin/Request Courier/Screenshot 2018-12-09 at 5.35.55 PM.png"
    ]
  },
  {
    q: "Track and Trace",
    src: [
      "/src/assets/img/faq/admin/Track and Trace/Screenshot 2018-12-09 at 5.36.50 PM.png",
      "/src/assets/img/faq/admin/Track and Trace/Screenshot 2018-12-09 at 5.40.01 PM.png"
    ]
  }
];
export default {
  name: "Help",
  data() {
    return {
      visibleQuestion: [],
      pageDepth: ["Help"],
      user: null,
      faq: faqUser
    };
  },
  mounted() {
	  this.checkUser()
  },
  methods: {
    checkUser() {
	  this.user = JSON.parse(localStorage.user);
	  if(this.user &&this.user.is_admin){
		  this.faq = faqAdmin;
	  }
    },
    visible(q) {
      return this.visibleQuestion.indexOf(q) >= 0;
    },
    show(q) {
      if (this.visibleQuestion.indexOf(q) >= 0) {
        this.visibleQuestion.splice(this.visibleQuestion.indexOf(q), 1);
      } else {
        this.visibleQuestion.push(q);
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.$root.$emit("pageHierarchy", vm.pageDepth);
    });
  }
};
</script>
<style scoped>
.help-div {
  margin-top: 100px;
  padding: 1em;
}
.cursor {
  cursor: pointer;
}
.shadow {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px 0;
}
.p-0 {
  padding: 0;
  margin: 10px;
}
h2 {
  padding: 0 0 2em 0;
}
img{
	max-width: 90%;
	margin: 0 ;
}
</style>