<template>
  <div class="dashboard-content" id="mailroom">
    <h2 class="text-center">MAILROOM BOOKING</h2>
    <h3 class="black-bg">
      NEW JOB ID:
      <span class="y">#125551</span>
    </h3>
    <div class="mailroom-form">
      <div class="row">
        <div class="col-xs-6">
          <label>
            Receiver Name
            <span class="mandatory">*</span>
          </label>
          <input type="text" placeholder="Enter Name">
        </div>
        <div class="col-xs-6">
          <label>
            Address
            <span class="mandatory">*</span>
          </label>
          <input type="text" placeholder="Enter Address">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>E-mail</label>
          <input type="email" placeholder="Enter E-mail">
        </div>
        <div class="col-xs-6">
          <label>Contect Number</label>
          <input type="text" placeholder="Enter Contect Number">
        </div>
      </div>
    </div>
    <div class="mailroom-form">
      <div class="row">
        <div class="col-xs-6">
          <label>
            Sender
            <span class="mandatory">*</span>
          </label>
          <input type="text" placeholder="Booked by">
        </div>
        <div class="col-xs-6">
          <label>
            Package type
            <span class="mandatory">*</span>
          </label>
          <select name id>
            <option>Document</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>
            Delevery Company
            <span class="mandatory">*</span>
          </label>
          <select name id>
            <option>FedEx</option>
          </select>
        </div>
        <div class="col-xs-6">
          <label>AirWay Bill/Ref</label>
          <input type="text" placeholder="Enter AirWay Bill/Ref">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>
            Number of Items
            <span class="mandatory">*</span>
          </label>
          <select name id>
            <option>1</option>
          </select>
        </div>
        <div class="col-xs-6">
          <label>Item Description</label>
          <input type="text" placeholder="Enter Item Description">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Special Instruction</label>
          <textarea name id cols="30" rows="10"></textarea>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <label>Mailroom storage location</label>
          <select name id>
            <option>1</option>
          </select>
        </div>
        <div class="col-xs-6">
          <label>Email Template</label>
          <input type="text" placeholder="Enter Item Description">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>Delivery Location</label>
          <select name id>
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>Scanned By</label>
          <input type="text">
        </div>
        <div class="col-xs-6">
          <label>Scanned Date & Time</label>
          <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 text-center">
          <button class="btn black-btn">CANCEL</button>
          <button class="btn yellow-btn">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "MailRoomForm",
  data() {
    return {};
  }
};
</script>
<style scoped>
.mt-5 {
  margin-top: 1.8em;
}
.mandatory {
  color: red;
  margin-left: 5px;
}
#mailroom {
  margin-top: 100px;
}
label {
  margin: 1em 0 10px 0;
}
.black-bg {
  background: #000;
  color: #fff;
  padding: 1em;
  text-align: center;
}
.y {
  color: yellow;
}
.mailroom-form {
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
  width: 90%;
  margin: 1em auto;
  position: relative;
}
input,
select,
textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 2%;
  background: #fff;
}
.black-btn {
  background: #000;
  color: yellow;
}
.yellow-btn {
  background: #ffd10a;
  color: #000;
}
.btn,
.btn:active {
  outline: none;
  padding: 0.7em 2.5em;
  margin: 0 1em;
  font-weight: bold;
}
</style>
