<template>
	<div class="container">
		<div class="row">
			<div class="col-md-10 padding-left-0">
				<h2 v-if="isAdmin">User Profile & Courier Settings</h2>
				<h2 v-if="!isAdmin">User Profile</h2>
				<router-link target="div" to="/home/profile" ><h3 class="set">User Profile</h3></router-link>
				<router-link target="div" to="/home/settings" v-if="isAdmin" ><h3 >Courier Settings</h3></router-link>
				<hr>
			</div>
			<div class="col-md-10 content">
				<h5>Default Pickup address</h5>
				<p>Save any Pickup address to quickly select on future shipments</p>
				<br>
				<hr>
				<div class="col-md-6">
					<h5>Contact Details</h5>
					<br>
					<div class="col-md-12">
						<label>Contact name <span class="mandatory">*</span></label>
						<br>
						<input type="text" name="" v-model="contactName" disabled>
					</div>
					<div class="col-md-12">
						<label>Email <span class="mandatory">*</span></label>
						<br>
						<input type="email" name="" v-model="email" disabled>
					</div>
					<div class="col-md-12">
						<label>Company <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="company" disabled>
					</div>
					<div class="col-md-12">
						<label>Branch Name <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="branchName" disabled>
					</div>
					<!-- <vue-tel-input v-model="phone" @onInput="onInput"></vue-tel-input> -->
					<!-- <div class="col-md-12">
						<label>Country Code <span class="mandatory">*</span></label>
						<br>
						<input type="text" name="" v-model="countryCode">
					</div> -->
					<div class="col-md-12">
						<label>Phone number <span class="mandatory">*</span></label>
						<br>
						<div>
							<div class="Philippines">
								<!-- <img src="../assets/img/philippines-flag.png" /> -->
								+63
							</div>
							<input type="" name="" v-model="phone" style="padding-left: 50px;">
						</div>
					</div>
					<br>
					<div class="col-md-12">
						<label>Profile picture <span class="mandatory">*</span></label>
						<br>
						<button class="upload-avatar" @click="openFileSelector" :disabled="isDisabled">Choose a file</button>
						<input type="file" ref="fileUpload" name="address" style="display: none;" accept=".jpg,.PNG" @change="uploadFile">
					</div>
				</div>
				<div class="col-md-6">
					<h5>Address Details</h5>
					<br>
					<div class="col-md-12">
						<label>Address Line 1 <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="addr1" :disabled="!isAdmin">
					</div>
					<br>
					<div class="col-md-12">
						<label>Address Line 2 <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="addr2" :disabled="!isAdmin">
					</div>
					<div class="col-md-12">
						<label>City <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="city" :disabled="!isAdmin">
					</div>
					<br>
					<div class="col-md-12">
						<label>State <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="state" :disabled="!isAdmin">
					</div>
					<br>
					<div class="col-md-12">
						<label>Suburb <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="suburb" :disabled="!isAdmin">
					</div>
					<br>
					<br>
					<div class="col-md-12">
						<label>PostCode <span class="mandatory">*</span></label>
						<br>
						<input type="" name="" v-model="postalCode" :disabled="!isAdmin">
					</div>
					<br>
					<br>
					<div class="col-md-12">
						<label>Country/Territory <span class="mandatory">*</span></label>
						<br>
						<select value="" v-model="country" :disabled="!isAdmin">
							<option>Philippines</option>
						</select>
					</div>
					<div class="col-md-12" v-if="isAdmin">
						<button class="save" @click="saveAddress" >Save address</button>
					</div>
					<br>
				</div>
			</div>	
		</div>
		<br>
		<div class="row reset-password">
			<div class="col-md-10 padding-left-0">
				<h2>Reset Password</h2>
			</div>
			<div class="col-md-10 content">
				<p>Save any password with atleast 6 characters( including special characters and numbers).</p>
				<br>
				<div class="col-md-12">
					<div class="col-md-6">
						<label>Current password <span class="mandatory">*</span></label>
						<br>
						<input type="password" name="" v-model="currentPassword">
					</div>
					<div class="col-md-6 new">
						<label>New password <span class="new-password">( Min 6 characters )</span><span class="mandatory">*</span></label>
						<br>
						<input class="new-pwd-input" :type="newPwdType" name="" v-model="newPassword" ref="newPwd">
						<img src="../assets/img/toggle-password.PNG" class="toggle-password" @click ="togglePassword" />
					</div>
					<div class="col-md-12">
						<button class="update-password" @click = "updatePassword" >Update password</button>
					</div>
				</div>
			</div>	
		</div>
	</div>
</template>

<script>
	import router from '../router';

	export default {
		name: 'profile',
		data() {
			return {
				isAdmin: false,
				pageDepth: ['Profile'],
				isDisabled : false,
				newPwdType: 'password',
				userId : '',
				country: '',
				postalCode: '',
				city: '',
				addr1: '',
				addr2: '',
				addr3: '',
				company: '',
				branchName:'',
				contactName: '',
				phone: '',
				email: '',
				instruction: '',
				state: '',
				suburb: '',
				warningClass: false,
				showMessage: false,
				responseMessage:'',
				currentPassword: '',
				newPassword: '',
				message: '',
				countryCode : '+63'

			}

		},
		mounted : function(){
			this.setDetails();
		},
		methods: {
			 // onInput({ number, isValid, country }) {
		  //      console.log(number, isValid, country);
		  //    },
			openFileSelector () {
				const el = this.$refs.fileUpload;
				el.click();
			},
			uploadFile ($event) {
				this.isDisabled = true;
				let formData = new FormData();
				let file = $event.target.files[0];

				formData.append('avatar',file);

				this.axios.post('user/avatar',
					formData
				)
				.then(response => {
					this.isDisabled = false;
					this.$toasted.show("Avatar successfully Updated ", { 
						 theme: "primary", 
						 position: "bottom-right", 
						 type: 'success',
						 duration: 2000,
						 iconPack : 'material',
						 icon : {
				            name : 'check'
				         }
					});
				})
				.catch(error => {
					this.isDisabled = false;
					console.log(error);
				});
			},
			saveAddress() {
				const address = {
					address_1: this.addr1,
					address_2: this.addr2,
					postal_code: this.postalCode,
			 		country: this.country,
			 		city: this.city,
			 		phone: this.phone,
			 		country_code: this.countryCode,
			 		state: this.state,
			 		suburb: this.suburb,
			 		branch_name: this.branchName
			 	};
			 	console.log(address);
         		// api call 

         		this.axios.put('user' ,address)
        		.then((response) => { 
         			console.log(response);

         			let data = JSON.parse(localStorage.user);					//Redirect to home page
         			let obj = Object.assign(data, address);
         			localStorage.user = JSON.stringify(obj);

         			this.$toasted.show("Succefully Updated", { 
			 			 theme: "primary", 
			 			 position: "bottom-right", 
			 			 type: 'success',
			 			 duration: 2000,
			 			 iconPack : 'material',
			 			 icon : {
			 	            name : 'check'
			 	         }
			 		});
			 		setTimeout(() => {
			 			router.push({name: 'default'});
			 		}, 1000);
         		 })											
         		.catch((error) => { 
         			this.$toasted.show("Please fill Required details", { 
			 			 theme: "primary", 
			 			 position: "bottom-right", 
						 type: 'error',
			 			 duration: 2000,
			 			 iconPack : 'material',
			 			 icon : {
			 	            name : 'close'
			 	         }
			 		});
         			console.log(error);
         		}); 

			},
			togglePassword() {
				this.newPwdType = this.newPwdType == "password" ? "text" : "password";
			},
			updatePassword() {
				if(!this.currentPassword || !this.newPassword) {
					this.message = 'Please fill both fields';
					this.$toasted.show(this.message, { 
						 theme: "primary", 
						 position: "bottom-right", 
						 type: 'error',
						 duration: 2000,
						 iconPack : 'material',
						 icon : {
				            name : 'close'
				         }
					});
				}
				else {
					let data = {
						old_password: this.currentPassword,
						new_password: this.newPassword
					};
					this.axios.put('user/password', data)
					.then(response => {
						console.log(response);
						if(response.data.status == 'ok') {
							this.currentPassword = '';
							this.newPassword = '';
							this.$toasted.show("Password updated", { 
								 theme: "primary", 
								 position: "bottom-right", 
								 type: 'success',
								 duration: 2000,
								 iconPack : 'material',
								 icon : {
						            name : 'check'
						         }
							});
						}
					})
					.catch(error => {
						console.log(error.response);
						this.$toasted.show("Incorrect password", { 
								 theme: "primary", 
								 position: "bottom-right", 
								 type: 'error',
								 duration: 2000,
								 iconPack : 'material',
								 icon : {
						            name : 'close'
						         }
							});
					})
				}
			},
			isEmpty(value) {
				if(value) {
					this.warningClass = true;
				}
			},
			setDetails() {
				let data = JSON.parse(localStorage.user);
				this.userId = data.id;
				this.email = data.email;
				this.contactName = data.name;
				this.company = 'WHO';
				this.addr1 = data.branch.address_1 ? data.branch.address_1 : '';
				this.addr2 = data.branch.address_2 ? data.branch.address_2 : '';
				this.city = data.branch.city ? data.branch.city : '';
				this.state = data.branch.state ? data.branch.state : '';
				this.suburb = data.branch.suburb || '';
				this.branchName = data.branch.branch_id ? data.branch.branch_id: '';
				this.postalCode = data.postal_code ? data.postal_code : '';
				this.country = data.branch.country != null ? data.branch.country : '';
				// this.countryCode = data.countryCode != null ? data.countryCode : '';
				this.phone = data.phone ? data.phone : data.branch.disabledphone;
			}
		},
		beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
		},
		created() {
            let user = JSON.parse(localStorage.user);
            this.isAdmin = (user.is_admin  || user.is_super_admin )? true : false;
        },
		watch : {
			city: function(newValue, oldValue) {
				this.isEmpty(newValue);
			},
			addr1: function(newValue, oldValue) {
				this.isEmpty(newValue);
			},
			company: function(newValue, oldValue) {
				this.isEmpty(newValue);
			},
			contactName: function(newValue, oldValue) {
				this.isEmpty(newValue);
			},
			phone: function(newValue, oldValue) {
				this.isEmpty(newValue);
			}
		}

	}
</script>

<style lang="scss" scoped>
	button {
		outline: none;
	}
	.warningDiv {
		border-color: red;
	}
	.container {
		.padding-left-0 {
			padding-left: 0px;
		}
		background-color : whitesmoke;
		width: 100%;
		.row {
			width: 100%;
			height: 100vh;
			margin: 15% 0 8% 0;
			padding-left: 6%;
			h2 {
				font-size: 24px;
			}
			h3 {
				display: inline;
				width: 50px;
				font-size: 18px;
				padding: 1% 4% 1% 1%;
				z-index: 111;
			}
			.padding-left-0 {
				padding-left: 0px;
			}
			a {
				text-decoration : none;
				color: #000;
			}
			.set {
				border-bottom: 4px solid #ffd10a;
			}
			hr {
				margin-top: 11px;
				width:auto;
				border-top: 1px solid #ccc;
				z-index: 999;
			}
			.content {
				.Philippines {
					width: 40px;
					text-align: center;
					line-height: 40px;
				    position: absolute;
				    height: 40px;
				    background: #acacac;
				    img {
				    	margin-top: 12px;
				    	width: 30px;
			    		margin-left: 5px;
				    }
				}
				.new {
					position: relative;
					.new-password {
						color: #acacac;
					}
					.toggle-password {
						position: absolute;
						top: 40%;
					    width: 24px;
					    right: 7%;
					    opacity: 0.5;
					    cursor: pointer;
					}
					.toggle-password:hover {
						opacity: 1;
					}
				}
				label {
					font-weight: normal;
				}
				span {
					color: #aaa;
				}
				.mandatory{
			        color: red;
			    }
				h5 {
					font-size: 20px;
				}
				.upload-avatar {
					background-color: #ffd10a;
    				padding: 2% 5%;
    				margin-bottom: 6%;
				}
				background-color: white;
				height: auto;
				padding: 2%;
				hr{
					border-top: 3px solid #eee;
				}
				input{
					width: 100%;
				    margin-bottom: 5%;
				    border: 1px solid rgba(0, 0, 0, 0.1);
				    padding: 1% 4%;
				    outline: none;
				    border-radius: 4px;
				    height:40px;
				    background: white;
    				color: #717171;
				}
				input:disabled {
					background-color:#ececec;
				}
				select {
					    border: 1px solid rgba(0, 0, 0, 0.1);
					    padding-left: 2%;
					    width: 100%;
					    outline: none;
					    color: rgba(0, 0, 0, 0.7);
					    font-weight: 400;
					    margin-bottom: 20px;
					    font-family: "Roboto Condensed", sans-serif;
					    background: #fff;
					    height: 40px;
				}
				.save {
					background-color: #ffd10a;
				    color: white;
				    margin-top: 5%;
				    padding: 2% 2%;
				    float: right;
				    text-align: center;
				    min-width: 160px;
				    outline: none;
				    font-size: 16px;
				    border: none;
				    cursor: pointer;
				    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
				}
				.update-password {
					background-color: #ffd10a;
				    color: white;
				    margin-top: 5%;
				    padding: 1% 2%;
				    float: right;
				    text-align: center;
				    min-width: 160px;
				    outline: none;
				    font-size: 16px;
				    border: none;
				    cursor: pointer;
				    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
				}
			}
		}
		.reset-password{
			margin: 5% 0;
			height: 20%;
		}
	}
</style>
