<template>
  <div id="login">
    <div class="col-md-7 col-md-offset-4 right-div">
        <h2>Reset your Password</h2>
        <br>
        <h5>Use special characters to give more security to your password.</h5>
        <!-- <h5>Remember me like your cute girl friend.</h5> -->
        <br>
        <div class="login-failed" v-show="passwordSuccess">
          <p>{{ statusMessage }}</p>
        </div>
        <label>New password</label>
        <label class="email-warning" v-show="minLength">At least 6 characters</label>
        <br>
        <input type="password" name="new-password" v-model="newPassword" required>
        <br>
		<button class="signin-btn" @click="changePassword">SET PASSWORD</button>
		<div class="line"></div>
		<div class="help-box">
			<span class="signup-link">Don't have an account?
				<router-link to="/signup"> SIGNUP</router-link>
			</span>
            <span class="help-link">Need help?
				<router-link to="/support"> Go to Support</router-link>
			</span>
        </div>
    </div>
</div>
</template>
<script>

	
	import router from '../router';

	export default {
        name: 'ResetPassword',
        data()  {
        	return {
                statusMessage: 'Password reset successfully.',
        		newPassword: '',
                minLength: '',
                passwordMismatch:false,
        		emailWarning: false,
        		passwordSuccess: false,
                token: ''
        	}
        },
        created() {
            this.token = this.$route.params.token;
        },
        mounted: function(){
        },
        watch: {
            newPassword(newValue, oldValue) {
                this.minLength = (newValue.length < 6)? true: false;
            }
        },
        methods : {
        	changePassword() {
        		const credentials = {
					password: this.newPassword
				};
                if(credentials.password != '') {
                    //api call 
                    this.axios.post(`user/password/reset/${this.token}`,credentials)
                    .then((response) => { 
                        this.$toasted.show("Password reset successfully. Please login to continue.", { 
                            theme: "primary", 
                            position: "bottom-right", 
                            duration: 2000,
                            iconPack : 'material',
                            icon : {
                               name : 'check'
                            }
                        });  
                        setTimeout(() => router.push({name: 'login'}), 1000);               
                    })
                    .catch((error) => {                 
                        console.log(error.response);
                        if(error.response.status == 401) {
                            this.statusMessage = error.response.data.msg;
                        }
                    }); 
                }
                else {
                    this.statusMessage = 'Please enter a new password';
                    this.$toasted.show(this.statusMessage, { 
                            theme: "primary", 
                            position: "bottom-right", 
                            duration: 2000,
                            iconPack : 'material',
                            icon : {
                               name : 'error'
                            }
                        });  
                 } 
        	}
        }
    } 
</script>

<style lang="scss" src="../assets/css/login.scss" scoped></style>
<style lang="scss">
</style>

