<template>
	<div class="container">
		<div class="row">
			<div class="col-md-10 padding-left-0">
				<h2 v-if="isAdmin">User Profile & Courier Settings</h2>
				<h2 v-if="!isAdmin">User Profile</h2>
				<router-link target="div" to="/home/profile" ><h3>User Profile</h3></router-link>
				<router-link target="div" to="/home/settings" v-if="isAdmin" ><h3 class="set">Courier Settings</h3></router-link>
				<hr>
			</div>
			<div class="col-md-10 content">
				<br>
				<div class="col-md-8">
					<div class="col-md-8 margin-right-1">
						<label>Type of goods <span class="mandatory">*</span></label>
						<br>
						<select v-model="typeOfGoods" @change="goodsSelect(typeOfGoods)">
							<option value="" disabled selected>Select Goods</option>
							<option v-for="goods in goodsDetails" :value="goods.id">{{ goods.type }}</option>
						</select>
					</div>
					<div class="col-md-4">
						<label>Length - <span>optional</span></label>
						<br>
						<div class="inputs">
							<input type="" name="" :value="length" disabled>
							<span class="unit" >cm</span>
						</div>

					</div>
					<div class="col-md-4">
						<label>Width - <span>optional</span></label>
						<br>
						<div class="inputs">
							<input type="" name="" :value="width" disabled>
							<span class="unit" >cm</span>
						</div>
					</div>
					<div class="col-md-4">
						<label>Height - <span>optional</span></label>
						<br>
						<div class="inputs">
							<input type="" name="" :value="height" disabled>
							<span class="unit" >cm</span>
						</div>
					</div>
					<div class="col-md-6">
						<label>Weight - <span>optional</span></label>
						<br>
						<div class="inputs">
							<input type="" name="" :value="weight" disabled>
							<span class="unit" >kg</span>
						</div>
					</div>
					<!-- <div class="col-md-8">
						<label>Cost center</label>
						<br>
						<br>
						<select value="">
							<option>India</option>
							<option>Australia</option>
							<option>South africa</option>
						</select>
					</div> -->
				</div>
			</div>
			<div class="col-md-10 content">
				<div class="col-md-3">
					<label>Your Monthly Budget <span></span></label>
					<br>
					<div class="inputs">
						<input type="" name="" v-model="monthly_budget">
						<!-- <span class="unit" ></span> -->
					</div>
				</div>
			</div>
			<div class="col-md-10 content">
				<div class="col-md-offset-3 col-md-3">
					<button class="cancelSettings" disabled>Cancel</button>
				</div>
				<div class="col-md-offset-1 col-md-3">
					<button class="saveSettings" @click= "saveUpdates" >Save</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import router from '../router';
	export default {
		name: 'settings',
		data() {
			return {
				pageDepth: ['Profile', 'Settings'],
				goodsDetails: '',
				typeOfGoods: '',
				length: '',
				width: '',
				height: '',
				weight: '',
				selectedGoods: '',
				goodsId: '',
				c_goods: '',
				monthly_budget : 0,
				isAdmin: false,

			}
		},
		created() {
		},
		mounted() {
			this.goodsDetails = JSON.parse(localStorage.goods);
			console.log('Goods details:', this.goodsDetails);
			let user = JSON.parse(localStorage.user);
			this.goodsId = user.goods_id;
			if(this.goodsId) {
				this.c_goods = this.goodsDetails.find(item => item.id == this.goodsId);
				this.typeOfGoods = this.c_goods.id;
			}
			this.length = this.c_goods.length ? this.c_goods.length : '0';
			this.width = this.c_goods.width ? this.c_goods.width : '0';
			this.height = this.c_goods.length ? this.c_goods.length : '0';
			this.weight = this.c_goods.weight ? this.c_goods.weight : '0';
			this.monthly_budget = user.monthly_budget || 0;
			console.log(this.typeOfGoods);

		},
		beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        },
		created() {
            let user = JSON.parse(localStorage.user);
            this.isAdmin = (user.is_admin  || user.is_super_admin )? true : false;
        },
		methods: {
			goodsSelect(typeOfGoods) {
				this.selectedGoods = this.goodsDetails.find(item =>  item.id == typeOfGoods);
				localStorage.currentGoods = JSON.stringify(this.selectedGoods);
				console.log(this.selectedGoods);
				this.length = this.selectedGoods.length ? this.selectedGoods.length : '0';
				this.width = this.selectedGoods.width ? this.selectedGoods.width : '0';
				this.height = this.selectedGoods.height ? this.selectedGoods.height : '0' ;
				this.weight = this.selectedGoods.weight ? this.selectedGoods.weight : '0';
			},
			saveUpdates() {
				// console.log(this.typeOfGoods);
				let data = {
					goods_id: this.selectedGoods.id,
					monthly_budget: this.monthly_budget
				}
				console.log(this.selectedGoods.id);
				if(this.typeOfGoods) {
					this.axios.post('user/goods', data).
					then(response => {
						console.log(response);
						if(response.data.status == 'ok') {
	                        localStorage.currentGoods = JSON.stringify(this.selectedGoods);
	                        let user = JSON.parse(localStorage.user);
	                        user.goods_id =this.selectedGoods.id;
	                        localStorage.user = JSON.stringify(user); 
	                        this.$toasted.show("Update Success", { 
	                             theme: "primary", 
	                             position: "bottom-right", 
	                             type: 'success',
	                             duration: 2000,
	                             iconPack : 'material',
	                             icon : {
	                                name : 'check'
	                             }
	                        });
	                    }
	                    setTimeout(() => {
						router.push({name: 'default'});
					}, 1000);
					}).
					catch(error => {
						console.log(error);
						this.$toasted.show("Please fill Details", { 
	                         theme: "primary", 
	                         position: "bottom-right", 
	                         type: 'error',
	                         duration: 2000,
	                         iconPack : 'material',
	                         icon : {
	                            name : 'close'
	                         }
	                    });
					});
				}
				else {
					this.$toasted.show("Please Select a goods from list", { 
	                         theme: "primary", 
	                         position: "bottom-right", 
	                         type: 'error',
	                         duration: 2000,
	                         iconPack : 'material',
	                         icon : {
	                            name : 'close'
	                         }
	                    });
				}
			}
		}

	}
</script>

<style lang="scss">
	.container {
		background-color : whitesmoke;
		.padding-left-0 {
			padding-left: 0px;
		}
		width: 100%;
		.row {
			width: 100%;
			height: 100vh;
			margin: 15% 0;
			padding-left: 6%;
			.padding-left-0 {
				padding-left: 0px;
			}
			.margin-right-1 {
			margin-right: 1%;
		}
			a {
				text-decoration : none;
				color: #000;
			}
			h2 {
				font-size: 24px;
			}
			h3 {
				display: inline;
				width: 50px;
				font-size: 18px;
				padding: 1% 4% 1% 1%;
				z-index: 111;
			}
			.set {
				border-bottom: 4px solid #ffd10a;
			}
			hr {
				margin-top: 11px;
				width:auto;
				border-top: 1px solid #ccc;
				z-index: 999;
			}
			.content {
				label {
					font-weight: normal;
				}
				span {
					color: #aaa;
				}
				.mandatory{
			        color: red;
			    }
				h5 {
					font-size: 20px;
				}
				background-color: white;
				height: auto;
				padding: 2%;
				hr{
					border-top: 3px solid #eee;
				}
				input{
					width: 100%;
				    margin-bottom: 5%;
				    border: 1px solid rgba(0, 0, 0, 0.1);
				    padding: 2% 5%;
				    outline: none;
				    border-radius: 4px;
				    height:40px;
				    background: white;
    				color: #717171;
				}
				select {
					    border: 1px solid rgba(0, 0, 0, 0.1);
					    padding: 2% 5%;
					    width: 100%;
					    outline: none;
					    color: rgba(0, 0, 0, 0.7);
					    font-weight: 400;
					    margin-bottom: 20px;
					    font-family: "Roboto Condensed", sans-serif;
					    background: #fff;
					    height: 40px;
				}
				.inputs {
					position: relative;
					color: #aaa;
				}
				.unit {
					position: absolute;
					text-align: center;
				    right: 0;
				    top: 0;
				    height: 40px;
				    border: 1px solid rgba(0,0,0,0.1);
				    border-top-right-radius: 4px;
				    border-bottom-right-radius: 4px;
				    line-height: 40px;
				    width: 50px;
				    background: #fff;
				}
			}
			.saveSettings, .cancelSettings {
				    margin-top: 6%;
				    padding: 3%;
				    display: inline;
				    float: right;
				    text-align: left;
				    padding-left: 8%;
				    min-width: 160px;
				    outline: none;
				    font-size: 16px;
				    border: none;
				    cursor: pointer;
				    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
				    text-align: center;
				    padding: 2% 20% 2% 20%;
					width: 200px;
					font-weight: normal;
					height: 50px;
					border-radius: 4px;
					border:none;
					outline: none;
				}
				.saveSettings {
					background-color: #FBC02D;

				}
				.cancelSettings {
					background-color: #181818;
					color: #FBC02D;
				}
				.cancelSettings:hover {
					background-color: #424242;
				}
		}
	}
</style>