<template>
    <div class="dashboard-content">
	   <div class="domestic-content" id="shipment-details">
            <div class="domestic-head">
                <img src="../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <router-link to="/home/help" >
                <div class="help-link-div">
                	<span class="help-link">
                		<i class="material-icons">play_arrow</i>
                		<span class="help-text">Help</span>
                		<i class="material-icons">help</i>
                	</span>
                </div>
            </router-link>
            <br>
            <h4>ITEM DETAILS</h4>
            <hr class="start-shipping-line">
            <div class="item-details-box">
                <!-- single row content -->
                <div class="item-details-content">
                    <div class="input-box reference-box">
                        <label>Item Reference</label><br>
                        <input type="text" name="" placeholder="Enter any name" v-model="itemName">
                    </div>
                    <div class="input-box package-box">
                        <label>Package </label><br>
                        <input type="text" name="" :value="currentGoods.type" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Weight (kg) </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentWeight">
                    </div>
                    <div class="input-box item-box">
                        <label>Items</label><br>
                        <input type="text" name="" v-model="itemCount">
                    </div>
                    <div class="input-box lwh-box">
                        <label>L(cm) </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentLength">
                    </div>
                    <div class="input-box lwh-box">
                        <label>W(cm) </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentWidth">
                    </div>
                    <div class="input-box lwh-box">
                        <label>H(cm) </label><br>
                        <input type="text" name=""  :disabled= "isDisabled" v-model = "currentHeight">
                    </div>
                    <div class="input-box lwh-box">
                        <label>m3 </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentm3">
                    </div>
                    <div class="input-box weight-box">
                        <label>Cubic kg </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentCubicKg">
                    </div>
                    <div class="input-box weight-box">
                        <label>Charge Unit </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentChargeUnit">
                    </div>
                    <div class="input-box item-box">
                        <label>DG </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked= "currentGoods.is_dg" :disabled= "isDisabled">
                          <span class="checkmark" :disabled= "isDisabled"></span>
                        </label> 
                   </div>
                    <div class="input-box item-box">
                        <label>Food </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked= "currentGoods.is_food" :disabled= "isDisabled">
                          <span class="checkmark" :disabled= "isDisabled"></span>
                        </label>
                    </div>
                    <!-- <button class="close-item-btn"></button> -->
            	</div>
            	<!-- single row content -->

                <!-- <hr class="line"> -->

                <!--  Total details showing row  -->  
                <div class="sum-row">
                    <!-- <div class="input-box weight-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box item-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box m3-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box cubic-sum">
                        <input type="text" name="" disabled>
                    </div> -->
                    <!-- <button class="item-add-btn">ADD</button> -->
                </div>

            </div>
            <br>
            <div class="row">
            	<div class="col-md-6">
            		<h5>DESCRIPTION OF GOODS</h5>
            	</div>
            	<div class="col-md-6">
            		<h5>REMARKS</h5>
            	</div>
            </div>
            
            <!-- shipment details conatiner -->
            <div class="shipment-details-box">
                <div class="row">
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter the nature of goods.." maxlength="500"  v-model="goodsDescription"></textarea>
                    </div>
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter any remarks" maxlength="500" v-model= "remarks"></textarea>
                    </div>
                </div>
            </div> 
            <br>
            <br>
            <div class="row" v-show = "isInternational">
                <div class="col-md-6">
                    <h5>International Charges</h5>
                </div>
            </div>
            
            <!-- shipment details conatiner -->
            <div class="schedule-pickup-box" v-show = "isInternational">
                <div class="row">
                    <div class="col-md-6">
                        <label>Declared Value</label>
                        <input type="text" name="" placeholder="" 
                                v-model="declaredValue"
                                ref= "declared_value"
                                @focus = "removeWarning('declared_value')">
                        <br>
                    </div>
                    <div class="col-md-6">
                        <label>Insurance Value</label>
                        <input type="text" name="" placeholder="" 
                                v-model="insuranceValue"
                                ref= "insurance_value"
                                @focus = "removeWarning('insurance_value')">
                        <br>
                    </div>
                </div>
            </div> 
            <!------Scheduled pickup section-------->
            <div class="row" v-if="user.is_admin || user.is_super_admin">
            	<div class="col-md-6">
            		<h5>SCHEDULE PICKUP</h5>
            	</div>
            </div>
            <div class="schedule-pickup-box" v-if="user.is_admin || user.is_super_admin">
                <div class="row">
                    <div class="col-md-6">
                        <label>Location of package(s) <span class="mandatory">*</span></label>
                        <input type="text" name="" placeholder="" 
                                v-model="packageLocation"
                                ref= "package_location"
                                @focus = "removeWarning('package_location')">
                        <br>
                        <br>
                        <label>Pickup instructions<br> (upto 70 characters) <span class="mandatory">*</span></label>
                        <textarea type="text" name="" placeholder="" maxlength="500"
                                v-model ="pickupInstructions"
                                ref = "pickup_instructions"
                                @focus = "removeWarning('pickup_instructions')">
                        </textarea>
                    </div>
                    <div class="col-md-6">
                        <label>Pickup Date <span class="mandatory">*</span></label>
                        <input type="date" name="pickupDate" 
                                v-model="pickupDate"
                                min="2014-05-11" 
                                max="2200-05-20"
                                ref = "pickup_date"
                                @focus = "removeWarning('pickup_date')">
                        <label>My Package will be Ready By <span class="mandatory">*</span></label>
                        <div>
                            <input type="time" name="" 
                                    v-model= "pickupTime"
                                    ref = "pickup_time"
                                    @focus = "removeWarning('pickup_time')">

                                    
	                        <!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
	                    </div>
                        <br>
                        <label>Office close at <span class="mandatory">*</span></label>
                        <div>
                            <input type="time" name="" 
                                    v-model= "officeCloseTime"
                                    ref = "office_close_time"
                                    @focus = "removeWarning('office_close_time')">
                                    
                        	<!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
                        </div>
                        <p class="mandatory float-right" style="margin-right: 5%;">Please keep your package ready By {{ pickupTime }}</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--Update booking details section------>
            <div v-show= "isUpdate">
                <div class="row" >
                    <div class="col-md-6">
                        <h5>UPDATE BOOKING DETAILS</h5>
                    </div>
                </div>
                <div class="update-booking-details">
                    <div class="row">
                        <div class="col-md-6">
                            <label>No.of parcels / documents</label>
                            <input type="text" name="" value="0">

                            <label>Dispatched Date</label>
                            <input type="date" name="">

                            <label>Dispatch Company</label>
                            <select>
                                <option>My Unit</option>
                                <option>Other Unit</option>
                                <option>Global Addresse</option>    
                            </select>

                            <label>Cost</label>
                            <input type="text" name="" value ="0">
                        </div>
                        <div class="col-md-6">
                            <label>Weight</label>
                            <input type="text" name="" value="0.000">

                            <label>Reg Mode of Dispatch</label>
                            <select ref="">
                                <option>My Unit</option>
                                <option>Other Unit</option>
                                <option>Global Addresse</option>    
                            </select>

                            <label>Airway Bill</label>
                            <input type="text" name="">

                            <label>Reg Remarks</label>
                            <textarea placeholder="Enter the remarks.."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <router-link to="/home/service" tag="div" class="" exact>
                    <button class="previous-button domestic-btn">PREVIOUS</button>
                </router-link>
                <router-link to="/home/booking" tag="div" class="" exact>
                    <button class="cancel-button domestic-btn">CANCEL</button>
                </router-link>
                    <button class="next-button domestic-btn" @click="storeData">SAVE & NEXT</button>
            </div>
	   </div>
    </div>
</template>
<script type="text/javascript" src="rangeslide.min.js"></script>
<script>
	import DomesticSlider from '../components/domestic-slider';
    import router from '../router';

    // console.log(goods[0]);

	export default { 
		name: 'shipmentDetails',
        components: {
            DomesticSlider
        },
        data() {
            return {
                user:{},
                pageDepth: ['Booking', 'Shipment details'],
                page: 'shipmentDetails',
                isUpdate: false,
                itemName: '',
                itemCount: 1,
                goodsDescription: '',
                remarks: '',
                packageLocation: '',
                pickupInstructions: '',
                pickupDate: '',
                pickupTime: '08:00',
                officeCloseTime: '18:00',
                courierBookingData: {},
                goodsDetails: {},
                requesterName: this.passRequesterName,
                currentGoods: '',
                isDisabled: false,
                currentWeight: '',
                currentLength: '',
                currentHeight: '',
                currentWidth: '',
                currentm3: '',
                currentCubicKg: '',
                currentChargeUnit: '',
                declaredValue: '',
                insuranceValue: '',
                isInternational: false,
                draftId: null
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
                console.log('from:', vm.$route);
                // vm.requesterName = vm.passRequesterName;
                vm.currentGoods = JSON.parse(localStorage.currentGoods);
                console.log('currentGoods', vm.currentGoods);
                if(vm.currentGoods.volume == 'N') {
                    vm.isDisabled = true;
                }
                else if(vm.currentGoods.volume == 'Y') {
                    vm.isDisabled = false;

                }
                if(vm.$route.params.pos) {
                    document.getElementById(vm.$route.params.pos).scrollIntoView();
                }
                console.log(from);
                vm.isInternational = localStorage.selectedServiceType == "I";
                console.log('isInter', vm.isInternational);
                if(from.name != 'confirmShipment' ) {
                    vm.fillDetails();
                    console.log('hi');
                }
            });
        },
        created() {
            this.goodsDetails = JSON.parse(localStorage.getItem("goods"));
            this.userDetails = JSON.parse(localStorage.user);
            this.pickupDate = new Date().toJSON().slice(0,10).replace(/-/g,'-');
           // this.currentGoods = this.goodsDetails.find(item => item.id == this.userDetails.goods_id);
           this.user = JSON.parse(localStorage.user);
           console.log(this.user);
        },
        mounted() {
            this.goodsDetails = JSON.parse(localStorage.getItem("goods"));
            this.userDetails = JSON.parse(localStorage.user);

            this.$root.$on('updateConsignment', (id) => {
                console.log('id received', id);
                this.isUpdate = true;
                // this.fillPageDatails(id);
            });
        },
        activated() {
            // this.draftId = this.$route.params.draftId;
            this.draftId = localStorage.draftId;
        },
        methods: {
            fillDetails() {
                this.currentWeight = this.currentGoods.weight ? this.currentGoods.weight : '0';
                this.currentWidth = this.currentGoods.width ? this.currentGoods.width : '0';
                this.currentHeight = this.currentGoods.height ? this.currentGoods.height : '0';
                this.currentLength = this.currentGoods.length ? this.currentGoods.length : '0';
                this.currentm3 = this.currentGoods.m3 ? this.currentGoods.m3 : '0';
                this.currentCubicKg = this.currentGoods.cubic_kg ? this.currentGoods.cubic_kg : '0';
                this.currentChargeUnit = this.currentGoods.charge_unit ? this.currentGoods.charge_unit : '0';
            },
            storeData() {
                console.log('currentGoods:', this.currentGoods);
                this.courierBookingData.item_reference = this.itemName;
                this.courierBookingData.item_weight = this.currentWeight? this.currentWeight : '0' ;
                this.courierBookingData.item_qty = this.itemCount;
                this.courierBookingData.item_length = this.currentLength;
                this.courierBookingData.item_width = this.currentWidth;
                this.courierBookingData.item_height = this.currentHeight;
                this.courierBookingData.item_m3 = this.currentm3;
                this.courierBookingData.item_cubic_kg = this.currentCubicKg;
                this.courierBookingData.item_charge_unit = this.currentChargeUnit;
                this.courierBookingData.item_is_dg = this.currentGoods.is_dg ? '1' : '0';
                this.courierBookingData.item_is_food = this.currentGoods.is_food ? '1' : '0';
                this.courierBookingData.goods_description = this.goodsDescription;
                this.courierBookingData.remarks = this.remarks;
                this.courierBookingData.declared_value = this.declaredValue;
                this.courierBookingData.insured_value = this.insuranceValue;
                this.courierBookingData.package_location = this.packageLocation;
                this.courierBookingData.pickup_instructions = this.pickupInstructions;
                this.courierBookingData.pickup_date = this.pickupDate;
                this.courierBookingData.pickup_time = this.pickupTime;
                this.courierBookingData.office_close_time = this.officeCloseTime;

                let itemDetails = {
                    weight: this.currentWeight,
                    width: this.currentWidth,
                    height: this.currentHeight,
                    length: this.currentLength,
                    m3: this.currentm3,
                    cubic_kg: this.currentCubicKg,
                    charge_unit: this.currentChargeUnit
                }
                console.log('itemDetails:', itemDetails);
                let temp ={};
                if(localStorage.currentGoods){
                    temp = JSON.parse(localStorage.currentGoods);

                }

                let updatedItemDetails = Object.assign(temp, itemDetails);
                console.log('updated item details:', updatedItemDetails);
                localStorage.currentGoods = JSON.stringify(updatedItemDetails);

                let data = JSON.parse(localStorage.courierBookingData);
                let updatedData = Object.assign(data, this.courierBookingData);
                localStorage.courierBookingData = JSON.stringify(updatedData);
                console.log('c:', this.courierBookingData);
                console.log('data:', updatedData);

                //Draft functionality
                let draftData = {
                    item_reference: this.courierBookingData.item_reference,
                    item_weight: this.courierBookingData.item_weight,
                    item_qty: this.courierBookingData.item_qty,
                    item_length: this.courierBookingData.item_length,
                    item_width: this.courierBookingData.item_width,
                    item_height: this.courierBookingData.item_height,
                    item_m3: this.courierBookingData.item_m3,
                    item_cubic_kg: this.courierBookingData.item_cubic_kg,
                    item_charge_unit: this.courierBookingData.item_charge_unit,
                    item_is_dg: this.courierBookingData.item_is_dg,
                    item_is_food: this.courierBookingData.item_is_food,
                    goods_description: this.courierBookingData.goods_description,
                    remarks: this.courierBookingData.remarks,
                    declared_value: this.courierBookingData.declared_value,
                    insured_value: this.courierBookingData.insured_value,
                    package_location: this.courierBookingData.package_location,
                    pickup_instructions: this.courierBookingData.pickup_instructions,
                    pickup_date: this.courierBookingData.pickup_date,
                    pickup_time: this.courierBookingData.pickup_time,
                    office_close_time: this.courierBookingData.office_close_time
                }
                console.log('Draft:',draftData);
                this.axios.put(`draft/${this.draftId}/second`, draftData)
                .then(response => {
                    console.log(response);
                })
                .catch(error => {
                    console.log(error.response);
                })
                this.checkEmptyValue();
            },
            warningBox(key) {
                this.$refs[key].classList.add('warning');
            },
            removeWarning(item) {
                this.$refs[item].classList.remove('warning');
            },
            checkEmptyValue() {
                let flag = true;
                Object.keys(this.courierBookingData).forEach((key) => {
                    if(!this.courierBookingData[key] && key != 'item_reference' && key != 'item_width' && key != 'item_height' && key != 'item_m3' && key != 'item_cubic_kg' && key != 'item_charge_unit' && key != 'item_length' && key != 'goods_description' && key != 'remarks' && key != 'declared_value' && key != 'insured_value') {

                        if(this.user.is_admin || this.user.is_super_admin){
                            this.warningBox(key);
                            flag = false;
                        }else{
                            if(key != 'package_location' && key != 'pickup_instructions' && key != 'pickup_date' && key != 'pickup_time' && key != 'office_close_time'){
                                this.warningBox(key);
                                flag = false;
                            }
                        }
                        console.log(key)
                    }
                });
                if(flag) {
                    router.push({
                        name: 'confirmShipment',
                        params: {
                            passRequesterName: this.requesterName
                        }
                    });
                }
            }
        }

	}


</script>

<style lang="scss" src="../assets/css/shipmentDetails.scss"></style>
