<template>
	<div class="help-div">
		<h4>Coming <span>Soon</span>..</h4>
	</div>
</template>

<script>
	export default {
		name: 'Support',
		data() {
			return {
				pageDepth: ['Support'],
			}
		},
		beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        },
	}
</script>

<style lang="scss">
	.help-div {
		margin-top: 35%;
		h4 {
			font-size: 28px;
			text-align: center;
			font-weight: 900;
			margin-left: 0%;
			span {
				color: #ffd10a;
			}
		}
	}
</style>