<template>
    <div class="dashboard-content">
	   <div class="domestic-content">
            <div class="domestic-head">
                <img src="../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <div class="help-link-div">
            	<span class="help-link">
            		<i class="material-icons">play_arrow</i>
            		<span class="help-text">Help</span>
            		<i class="material-icons">help</i>
            	</span>
            </div>
            <br>
            <h4>ITEM DETAILS</h4>
            <hr class="start-shipping-line">
            <div class="item-details-box">
                <!-- single row content -->
                <div class="item-details-content">
                    <div class="input-box reference-box">
                        <label>Item Reference <span class="mandatory">*</span></label><br>
                        <input type="text" name="" placeholder="Enter any name" v-model="itemName" disabled>
                    </div>
                    <div class="input-box package-box">
                        <label>Package </label><br>
                        <input type="text" name="" :value="courierData.type_of_good" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Weight (kg) </label><br>
                        <input type="text" name="" :value="courierData.item_weight" disabled>
                    </div>
                    <div class="input-box item-box">
                        <label>Items</label><br>
                        <input type="text" name="" v-model="courierData.item_qty" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>L(m) </label><br>
                        <input type="text" name="" :value="courierData.item_length" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>W(m) </label><br>
                        <input type="text" name="" :value="courierData.item_width" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>H(m) </label><br>
                        <input type="text" name="" :value="courierData.item_height" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>m3 </label><br>
                        <input type="text" name="" :value="courierData.item_m3" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Cubic kg </label><br>
                        <input type="text" name="" :value="courierData.item_cubic_kg" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Charge Unit </label><br>
                        <input type="text" name="" :value="courierData.item_charge_unit" disabled>
                    </div>
                    <div class="input-box item-box">
                        <label>DG </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked= "courierData.item_is_dg" disabled>
                          <span class="checkmark"></span>
                        </label> 
                   </div>
                    <div class="input-box item-box">
                        <label>Food </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked= "courierData.item_is_food" disabled>
                          <span class="checkmark"></span>
                        </label>
                    </div>
                    <!-- <button class="close-item-btn"></button> -->
            	</div>
            	<!-- single row content -->

                <!-- <hr class="line"> -->

                <!--  Total details showing row  -->  
                <div class="sum-row">
                    <!-- <div class="input-box weight-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box item-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box m3-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box cubic-sum">
                        <input type="text" name="" disabled>
                    </div> -->
                    <!-- <button class="item-add-btn">ADD</button> -->
                </div>

            </div>
            <br>
            <div class="row">
            	<div class="col-md-6">
            		<h5>DESCRIPTION OF GOODS</h5>
            	</div>
            	<div class="col-md-6">
            		<h5>REMARKS</h5>
            	</div>
            </div>
            
            <!-- shipment details conatiner -->
            <div class="shipment-details-box">
                <div class="row">
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter the nature of goods.." :value="courierData.goods_description" disabled></textarea>
                    </div>
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter any remarks" :value="courierData.remarks" disabled></textarea>
                    </div>
                </div>
            </div> 
            <br>
            <br>
            <!------Scheduled pickup section-------->
            <div class="row">
            	<div class="col-md-6">
            		<h5>SCHEDULE PICKUP</h5>
            	</div>
            </div>
            <div class="schedule-pickup-box">
                <div class="row">
                    <div class="col-md-6">
                        <label>Location of package(s)</label>
                        <input type="text" name="" placeholder="" :value ="courierData.package_location" disabled>
                        <br>
                        <br>
                        <label>Pickup instructions<br> (upto 70 characters)</label>
                        <textarea type="text" name="" placeholder="" :value ="courierData.pickup_instructions" disabled></textarea>
                    </div>
                    <div class="col-md-6">
                        <label>Pickup Date</label>
                        <input type="date" name="pickupDate" v-model="pickupDate" disabled>
                        <label>My Package will be Ready By</label>
                        <div>
                            <input type="time" name="" v-model= "pickupTime" disabled>
	                        <!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
	                    </div>
                        <br>
                        <label>Office close at</label>
                        <div>
                            <input type="time" name="" v-model= "officeCloseTime" disabled>
                        	<!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
                        </div>
                        <p class="mandatory float-right" style="margin-right: 5%;">Please keep your package ready By {{ pickupTime }}</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--Update booking details section------>
            <div v-show= "isUpdate" id = "update">
                <div class="row" >
                    <div class="col-md-6">
                        <h5>UPDATE BOOKING DETAILS</h5>
                    </div>
                </div>
                <div class="update-booking-details">
                    <div class="row">
                        <div class="col-md-6">
                            <label>No.of parcels / documents<span class="mandatory">*</span></label>
                            <input type="text" name="" 
                                    v-model= "parcelCount"
                                    ref="no_of_parcels"
                                    @focus = "removeWarning('no_of_parcels')">

                            <label>Dispatched Date <span class="mandatory">*</span></label>
                            <input type="date" name="" 
                                    v-model= "dispatchDate"
                                    min="2014-05-11" 
                                    max="2200-05-20"
                                    ref="dispatched_date"
                                    @focus = "removeWarning('dispatched_date')">

                            <label>Dispatch Company <span class="mandatory">*</span></label>
                            <input type="text" name="" 
                                    v-model = "DispatchCompany"
                                    ref="dispatch_company"
                                    @focus = "removeWarning('dispatch_company')">

                            <label>Cost <span class="mandatory">*</span></label>
                            <input type="text" name="" 
                                    v-model= "cost"
                                    ref="cost"
                                    @focus = "removeWarning('cost')">
                            <label>Other Charges</label>
                            <input type="text" name="" placeholder="Add other chrages" v-model="otherCharges">
                        </div>
                        <div class="col-md-6">
                            <label>Weight <span class="mandatory">*</span></label>
                            <input type="text" name="" 
                                    v-model ="updateWeight"
                                    ref="weight"
                                    @focus = "removeWarning('weight')">

                            <label>Reg Mode of Dispatch <span class="mandatory">*</span></label>
                            <select 
                                    v-model="updateModeOfDispatch"
                                    ref="reg_mode_of_dispatch"
                                    >
                                <option value="" disabled>Select Mode</option>
                                <option v-for="item in dispatchDetails" 
                                        :value="item.name"
                                        :ref="item.name"
                                          >{{ item.name }}</option>
                            </select>

                            <label>Airway Bill <span class="mandatory">*</span></label>
                            <input type="text" name="" 
                                    v-model= "airwayBill"
                                    ref="airway_bill"
                                    @focus = "removeWarning('airway_bill')">

                            <label>Reg Remarks <span class="mandatory">*</span></label>
                            <textarea placeholder="Enter the remarks.." 
                                    v-model="updateRemarks"
                                    ref="reg_remarks"
                                    @focus = "removeWarning('reg_remarks')">
                                    
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <router-link to="/home/service" tag="div" class="col-md-offset-2 col-md-2 right-col" exact>
                    <button class="previous-button domestic-btn" disabled="true">PREVIOUS</button>
                </router-link>
                <router-link to="/home/booking" tag="div" class="col-md-offset-1 col-md-2 right-col" exact>
                    <button class="cancel-button domestic-btn">CANCEL</button>
                </router-link>
                <img class="loader" src="../assets/img/preloader.svg" v-show="preloader">
                <button class="next-button domestic-btn" @click="updateDetails">UPDATE</button>
            </div>
	   </div>
    </div>
</template>
<script type="text/javascript" src="rangeslide.min.js"></script>
<script>
	import DomesticSlider from '../components/domestic-slider';
    import router from '../router';

    // console.log(goods[0]);

	export default { 
		name: 'editShipmentDetails',
        components: {
            DomesticSlider
        },
        data() {
            return {
                page: 'shipmentDetails',
                isUpdate: true,
                itemName: '',
                itemCount: '',
                goodsDescription: '',
                remarks: '',
                packageLocation: '',
                pickupInstructions: '',
                pickupDate: '',
                pickupTime: '',
                officeCloseTime: '',
                courierBookingData: {},
                goodsDetails: {},
                dispatchDetails: '',
                parcelCount: '',
                dispatchDate: '',
                DispatchCompany: '',
                cost: '',
                updateWeight: '',
                updateModeOfDispatch: 'parcel',
                airwayBill: '',
                updateRemarks: '',
                preloader: false,
                otherCharges: '',
                courierList: [],
                courierData: {}

            }
        },
        created() {
            this.$root.$on('updateConsignment', (item) => {
                console.log('id received', item);
                this.isUpdate = true;
                // this.fillPageDatails(id);
            });

            this.goodsDetails = JSON.parse(localStorage.getItem("goods"));
            this.fillData();
        },
        mounted() {
            this.fetchDispatchDetails();
        },
        watch: {
            updateModeOfDispatch(newValue, oldValue) {
                console.log(newValue);
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                document.getElementById("update").scrollIntoView();
                vm.courierList = JSON.parse(localStorage.courierDetails);
                // console.log('cddvdfvdd', vm.$route.params.id);
                vm.courierData =vm.courierList.find(courier => courier.id == vm.$route.params.id);
                console.log('currentCourier', vm.courierData); 
                vm.updateModeOfDispatch = vm.courierData.mode_of_dispatch;
                // vm.$refs[vm.courierData.mode_of_dispatch][0].selected = true;
                vm.parcelCount = vm.courierData.item_qty;
                vm.updateWeight = vm.courierData.item_weight;
                vm.DispatchCompany = vm.courierData.delivery_provider;
            });
        },
        beforeDestroy() {
            this.$root.$off('updateConsignment');
        },
        methods: {
            fetchDispatchDetails() {
                this.axios.get('dispatch').
                then((response) => {
                    localStorage.setItem("dispatchDetails", JSON.stringify(response.data.mode_of_dispatch));
                    this.dispatchDetails = response.data.mode_of_dispatch;
                    // this.selectDeliveryServices();
                }).
                catch((error) => {
                    console.log(error)
                })
            },
            storeData() {
                this.courierBookingData.item_reference = this.itemName;
                this.courierBookingData.item_weight = this.goodsDetails[0].weight;
                this.courierBookingData.item_qty = this.itemCount;
                this.courierBookingData.item_length = this.goodsDetails[0].length;
                this.courierBookingData.item_width = this.goodsDetails[0].width;
                this.courierBookingData.item_height = this.goodsDetails[0].height;
                this.courierBookingData.item_m3 = this.goodsDetails[0].m3;
                this.courierBookingData.item_cubic_kg = this.cubicKg;
                this.courierBookingData.item_charge_unit = this.goodsDetails[0].charge_unit;
                this.courierBookingData.item_is_dg = this.goodsDetails[0].is_dg ? '1' : '0';
                this.courierBookingData.item_is_food = this.goodsDetails[0].is_food ? '1' : '0';
                this.courierBookingData.goods_description = this.goodsDescription;
                this.courierBookingData.remarks = this.remarks;
                this.courierBookingData.package_location = this.packageLocation;
                this.courierBookingData.pickup_instructions = this.pickupInstructions;
                this.courierBookingData.pickup_date = this.pickupDate;
                this.courierBookingData.pickup_time = this.pickupTime;
                this.courierBookingData.office_close_time = this.officeCloseTime;
                this.courierBookingData.other_charges = this.otherCharges;

                let data = JSON.parse(localStorage.courierBookingData);
                let updatedData = Object.assign(data, this.courierBookingData);
                localStorage.courierBookingData = JSON.stringify(updatedData);
                console.log('c:', this.courierBookingData);
                console.log('data:', updatedData);

            },
            fillData () {
                let courierDetails = JSON.parse(localStorage.courierDetails);
                let currentCourier = courierDetails.find(item => item.id == this.$route.params.id);
                console.log(currentCourier);
                this.itemName = currentCourier.item_reference;
                this.itemCount = currentCourier.item_qty;
                this.goodsDescription = currentCourier.goods_description;
                this.remarks = currentCourier.remarks;
                this.packageLocation = currentCourier.package_location;
                this.pickupInstructions = currentCourier.pickup_instructions;
                this.pickupDate = currentCourier.pickup_date;
                this.pickupTime = currentCourier.pickup_time;
                this.officeCloseTime = currentCourier.office_close_time; 

            },
            updateDetails() {
                let data = {
                    no_of_parcels: this.parcelCount,
                    weight:this.updateWeight,
                    dispatched_date: this.dispatchDate,
                    reg_mode_of_dispatch: this.updateModeOfDispatch,
                    dispatch_company: this.DispatchCompany,
                    airway_bill: this.airwayBill,
                    cost: this.cost,
                    reg_remarks: this.updateRemarks
                }

                this.checkEmptyValue(data);
            },
            warningBox(key) {
                // this.$refs[key].class = 'warning';
                this.$refs[key].classList.add('warning');
            },
            removeWarning(item) {
                this.$refs[item].classList.remove('warning');
            },
            checkEmptyValue(data) {
                let flag = true;
                Object.keys(data).forEach((key) => {
                    if(!data[key] && key != 'other_charges') {
                        console.log(key);
                        this.warningBox(key);
                        flag = false;
                    }
                });
                if(!flag) {
                    let msg = "Please fill All fields in Update  Portion";
                    this.$toasted.show(msg, { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
                }
                else {

                     this.axios.put(`courier/domestic/${this.$route.params.id}`, data).
                        then(response => {
                            console.log(response);
                            if(response.data.status == 'ok') {
                                this.preloader = true;
                                setTimeout(() => {
                                    this.showConsignmentModal = true;
                                    this.$toasted.show("Successfully Updated", { 
                                         theme: "primary", 
                                         position: "bottom-right", 
                                         type: 'success',
                                         duration: 2000,
                                         iconPack : 'material',
                                         icon : {
                                            name : 'check'
                                         }
                                    });
                                    this.preloader = false;
                                    router.push({ name: 'updateBooking'});
                                }, 2000);
                            }                  
                        }).
                        catch((error) => {
                            console.log(error);
                            this.$toasted.show("Some error occured..Please try again..", { 
                                 theme: "primary", 
                                 position: "bottom-right", 
                                 type: 'error',
                                 duration: 2000,
                                 iconPack : 'material',
                                 icon : {
                                    name : 'error'
                                 }
                            });
                        })
                }
            }
        }

	}


</script>

<style lang="scss" src="../assets/css/shipmentDetails.scss"></style>
<style lang="scss">
.warning {
    border-color: red !important;
}
.button-row {
    position: relative !important;
    .loader {
        display: block;
        position: absolute;
        left: 74% !important;
        top: -48% !important;
        width: 100px;
    }
}
</style>
