<template>
<section class="mode-of-dispatch">
  <h2>Carriers</h2>
  <hr>

  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
            <div class="tab-row">
              <div class="tab-col">
                  <label>Carrier Name</label><br>
                  <input type="text" name="" 
                      v-model= "carrierName">
              </div>
              <div class="tab-col">
                  <label>Carrier Code</label><br>
                  <input type="text" name="" 
                      v-model= "carrierCode">
              </div>
              <div class="tab-col">
                  <label>Mode of Dispatch</label><br>
                  <select 
                      v-model="dispatch">
                        <option v-for="modeOfDispatch in modeOfDispatchList" :value= "modeOfDispatch.id">{{ modeOfDispatch.name }}</option>
                  </select>
              </div>
           </div>

           <div class="tab-row">
                <div class="tab-col">
                    <label>Description</label><br>
                    <textarea rows="4" cols="50" class="description-box" 
                        v-model= "carrierDescription">       
                    </textarea>
                </div>
                <div class="tab-col">
                  <label>Upload Logo <span class="mandatory">*</span></label>
                  <br>
                  <button class="upload-btn" @click="openFileSelector('logo')" >Choose a file</button>
                  <input type="file" ref="logo" name="logo" style="display:none;"  accept=".jpg,.PNG" @change="uploadFile('logo')">
                </div>
                <div class="tab-col">
                  <label>Upload Rate Card <span class="mandatory">*</span></label>
                  <br>
                  <button class="upload-btn" @click="openFileSelector('rate_card')" >Choose a file</button>
                  <input type="file" ref="rate_card" name="rate_card" style="display:none;" accept=".jpg,.PNG,.xlsx,.pdf" @change="uploadFile('rate_card')">
                </div>
                <!-- <div class="tab-col upload-col">
                    
                    <div class="img-preview-div">
                       <img src="https://cdn4.buysellads.net/uu/1/21673/1538335109-Slack-pink_logo.png" />
                    </div>
                </div> -->
           </div>

            <button class="save-btn" @click ="addCarrier">Save</button>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Carrier Name</th>
                <th>Carrier Code</th>
                <th>Mode Of Dispatch</th>
                <th>description</th>
                <th>Logo</th>
                <th>Rate Card</th>
                <th>&nbsp&nbsp</th>
              </tr>
              <tr v-for= "provider in providerList">
                <td>
                    <input type=" text"
                        :value = "provider.name" 
                        :disabled = "true"
                        :ref = "'name_' + provider.id">
                </td>
                <td>
                    <input type=" text"
                        :value = "provider.carrier_code" 
                        :disabled = "true"
                        :ref = "'code_' + provider.id">
                </td>
                <td>
                    <select 
                        :value = "provider.modes.length > 0 ? provider.modes[0].id : '' " 
                        :disabled = "true"
                        :ref = "'modeOfDispatch_' + provider.id">
                        <option 
                            v-for = "item in modeOfDispatchList" 
                            :value = "item.id" >{{ item.name }}
                        </option>
                    </select>
                </td>
                <td>
                    <textarea rows = "5"
                        :value="provider.description" 
                        :disabled = "true"
                        :ref = "'description_' + provider.id">
                    </textarea>
                </td>
                <td class="small-col">
                      <div class="logo-preview"><img :src="provider.logo"></div>
                      <button class="upload-btn edit-logo" @click="openFileSelector2(provider.id)" v-show = "editLogo">Choose a file</button>
                      <input type="file" 
                          :ref="'fileChange_' + provider.id" 
                          :class="'fileChange_' + provider.id"
                           style="display: none;" accept=".jpg,.PNG" @change="uploadFile2">
                  </td>
                <td>
                   <button class="edit-btn" @click = "UpdateCarrier(provider)" :ref="'edit_' + provider.id">Edit</button>
                   <button class="cancel-btn" @click = "cancelChange(provider.id)" :ref="'cancel_' + provider.id">Cancel</button>
                   <button class="edit-btn" @click = "deleteCarrier(provider.id)" :ref="'delete_' + provider.id">Delete</button>
                </td>
              </tr>
            </table>
        </div>    
      </div>  
  </div>
</section>
</template>

<script>
    export default {
        name: 'carrier',
        data() {
            return {
                isDisabled : false,
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                carrierName: null,
                carrierCode: null,
                dispatch: null,
                carrierDescription: null,
                selectedModeOfDispatch: [],
                modeOfDispatchList: [],
                providerList: [],
                formData: new FormData(),
                updateData: new FormData(),
                editLogo: false,
                pageDepth: ['Master Data', 'Carriers']
            }
        },
        methods: {
            fetchDispatchDetails() {
              this.axios.get('dispatch')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.modeOfDispatchList = response.data.mode_of_dispatch;
                    this.dispatch = this.modeOfDispatchList[0].id;

                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });
            },
            updateDetails(){
                this.update_details = true;
                this.view_details = false;
                this.hide_update = false;
                this.hide_view = true; 
            },
            viewDetails(){
                this.view_details = true;
                this.update_details = false;
                this.hide_update = true;
                this.hide_view = false; 

                this.axios.get('provider')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.providerList = response.data.providers;
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });
            },
            openFileSelector (id) {
              const el = this.$refs[id];
              console.log('el', el);
              el.click();
            },
            uploadFile (field) {
              this.isDisabled = true;
              // let formData = new FormData();
              console.log(this.$refs[field]);
              let file = this.$refs[field].files[0];
              console.log(file)

              this.formData.append(field, file);
              console.log('formData', this.formData);
            },
            openFileSelector2 (id) {
              console.log('id', id);
              const el = this.$refs['fileChange_' + id];
              console.log('el', el);
              el[0].click();
            },
            uploadFile2 ($event) {
              this.isDisabled = true;
              let file = $event.target.files[0];

              this.updateData.append('logo', file);
              console.log('formData', this.formData);
            },
            addCarrier() {

              this.formData.append('name', this.carrierName);
              this.formData.append('carrier_code', this.carrierCode);
              this.formData.append('description', this.carrierDescription);
              this.formData.append('mode_of_dispatch[0]', this.dispatch);
              console.log('data', this.formData);

              this.axios.post('provider',this.formData)
              .then(response => {
                // this.isDisabled = false;
                console.log('response', response);
                this.$toasted.show(response.data.msg, { 
                   theme: "primary", 
                   position: "bottom-right", 
                   type: 'success',
                   duration: 2000,
                   iconPack : 'material',
                   icon : {
                          name : 'check'
                       }
                });
                this.resetFields();
                this.viewDetails();
              })
              .catch(error => {
                // this.isDisabled = false;
                console.log(error);
              });
            },
            UpdateCarrier(provider) {

              if(event.target.innerHTML == 'Update') {

                this.updateData.append('name', this.$refs['name_' + provider.id][0].value);
                this.updateData.append('carrier_code', this.$refs['code_' + provider.id][0].value);
                this.updateData.append('description', this.$refs['description_' + provider.id][0].value);
                this.updateData.append('mode_of_dispatch[0]',  this.$refs['modeOfDispatch_' + provider.id][0].value);
                this.updateData.append('_method', 'PUT');
                console.log('data', this.formData);


                if(this.updateData) {

                    this.axios.post(`provider/${provider.id}`,this.updateData)
                    .then(response => {
                      // this.isDisabled = false;
                      console.log('response', response);
                      this.$toasted.show(response.data.msg, { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'success',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                                name : 'check'
                             }
                      });

                      this.$refs['cancel_' + provider.id][0].classList.remove('displayBtn');
                      this.$refs['edit_' + provider.id][0].innerHTML = 'Edit';
                      this.$refs['name_' + id][0].disabled = true;
                      this.$refs['code_' + id][0].disabled = true;
                      this.$refs['modeOfDispatch_' + provider.id][0].disabled = true;
                      this.$refs['description_' + id][0].disabled = true;
                      this.editLogo = false;
                    })
                    .catch(error => {
                      // this.isDisabled = false;
                      console.log(error);
                      console.log('error', error.response);
                      this.$toasted.show(error.response.data.msg.errors[0], { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                                name : 'close'
                             }
                      });
                    });

                }
                else{

                  this.$toasted.show('Fields can not be empty', { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                            name : 'close'
                         }
                  });

                }

              }
              else {

                event.target.innerHTML = "Update";
                console.log(provider.id);
                this.$refs['cancel_' + provider.id][0].classList.add('displayBtn');
                this.$refs['name_' + provider.id][0].disabled = false;
                this.$refs['code_' + provider.id][0].disabled = false;
                this.$refs['modeOfDispatch_' + provider.id][0].disabled = false;
                this.$refs['description_' + provider.id][0].disabled = false;
                this.editLogo = true;

              }
            },
            cancelChange(id) {

              event.target.classList.remove('displayBtn');
              this.$refs['edit_' + id][0].innerHTML = 'Edit';
              this.$refs['name_' + id][0].disabled = true;
              this.$refs['code_' + id][0].disabled = true;
              this.$refs['modeOfDispatch_' + id][0].disabled = true;
              this.$refs['description_' + id][0].disabled = true;
              this.editLogo = false;

            },
            deleteCarrier(id) {
              if(confirm('Are you sure to delete this carrier ?')) {
                this.axios.delete(`provider/${id}`)
                .then(response => {
                  console.log('response', response);
                  if(response.data.status == "ok") {
                    this.removeCarrier(id);
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                  }
                })
                .catch(error => {
                  console.log('error', error.response);
                })
              }
            },
            removeCarrier(id) {
                let index = this.providerList.findIndex(provider => provider.id === id);
                this.providerList.splice(index, 1);
            },
            resetFields() {
              this.carrierName = '';
              this.carrierCode = '';
              this.dispatch = null;
              this.carrierDescription = '';
            }
        },
        created() {
          this.fetchDispatchDetails();
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }
    }    
</script>

<style scoped>
/*table styles*/
.small-col{
  width: 15%;
}
.logo-preview {
  float: left;
}
.small-col input[type="checkbox"]{
  width: 20px !important;
}
.displayBtn {
  display: block !important;
}
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
  outline: none;
}
td input:disabled, select:disabled, textarea:disabled {
    background-color: #ececec;
}
.logo-preview{
  /*background-color: red;*/
  width: 100px;
  height: 50px;
  position: relative;

}
.logo-preview img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  float: right;
  margin-bottom: 10px;
  margin-right: 8%;
  height: 30px;
  border-radius: 3px;
}
.edit-btn:hover, .cancel-btn:hover {
  background-color: #feb901;
}
.cancel-btn {
  display: none;
  margin-top: 5%;
}
.upload-col{
  position: relative;
}
.img-preview-div{
  background-color: whitesmoke;
  height: 100px;
  width: 200px;
  right: 10%;
  top: 0px; 
  position: absolute;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2%;
  background-color: white;
}
.img-preview-div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.edit-logo {
  height: 30px !important;
  width: 90px !important;
  font-size: 11px !important;
  margin-left: 5%;
  margin-top: 5%;
}
.upload-btn{
  border: none;
  outline: none;
  background-color: #ffd10a;
  border-radius: 3px;
  color: black;
  height: 40px;
  font-size: 17px;
  padding-left: 8%;
  padding-right: 8%;
}
.upload-btn:hover{
  background-color: #feb901;
}
.chips{
  color: white;
  margin-top: 3%;
  padding: 0.5% 1% 0.5% 1% !important;
  border-radius: 5px;
  margin-right: 1%;
}
.danger-chips{
    background-color: #ff580a;
}
.green-chips{
  background-color: #00d400;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5%;
  border-top: 3px solid #ffd20a;
}
select {
    height: 40px;
    width: 90%;
    background-color: #fff;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-left: 2%;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}
.view-box span{
    padding-left: 5%;
}
.view-box label{
  width: 20%;
}
.hide-content{
    display: none;
}
input[type="checkbox"]
{
    vertical-align:middle;
    margin-right: 10%;
    margin-top: 2px;
}
.view-box textarea{
  width: 250px  !important;
  resize: none;
  height: 
  70px !important;
}
.checkbox-row{
  display: flex;
  width:  100%;
  margin-bottom: 3%;

}
.first-col, .second-col, .third-col{
  width: 200px;
}

.checkbox-label{
  width: 120px;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 15%;
  height: 100%;
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  outline: none;
  height: 40px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input, .dispatch-option, .description-box, textarea{
  height: 40px;
  resize: none;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
.dispatch-option, .description-box{
   width: 90%;
}
.description-box{
  height: 80%;
}
.tab-row{
  display: flex;
  margin-bottom: 5%;
}
.tab-col{
  flex: 50%;
}
.tab-col-4{
  flex: 25%;
}

.tab-col-4 input[type="text"]{
  width: 80%;
}
.tab-col input[type="text"]{
  width: 90%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  outline: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px; 
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffd10a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>