<template>
<section class="mode-of-dispatch">
  <h2>Hubs</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
            <div class="row">
              <div class="col-md-6">
                  <label>Hub Name</label>
                  <br>
                  <input type="text" name="" v-model= "hubName">
               </div>
               <div class="col-md-6">
                 <label>Hub Code</label>
                  <br>
                  <input type="text" name="" v-model= "hubCode">
               </div> 
              </div>
              <br>
              <div class="row"> 
                <div class="col-md-6">
                 <label>Hub Address</label>
                  <br>
                  <textarea rows="4" cols="50" class="address-box" 
                        v-model= "hubAddress">       
                  </textarea>
                </div>
              </div>
           <br>
            <button class="save-btn"  @click ="saveHub">Save</button>
            <br>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Hub Name</th>
                <th>Hub Code</th>
                <th>Hub Address</th>
                <th>&nbsp&nbsp</th>
              </tr>
              <tr v-for= "hub in hubList">
                 <td>
                    <input type="text" 
                      :value="hub.name" 
                      :disabled = "true"
                      :ref = "'name_' + hub.id">
                 </td>
                 <td>
                    <input type="text" 
                      :value="hub.hub_code" 
                      :disabled = "true"
                      :ref = "'code_' + hub.id">
                  </td>
                 <td>
                    <textarea type="text" rows="4" cols="50" class="address-box" 
                      :value="hub.hub_address" 
                      :disabled = "true"
                      :ref = "'address_' + hub.id">
                    </textarea>
                  </td>
                 <td>
                    <button class="edit-btn" @click = "UpdateHubDetails(hub.id)" :ref="'edit_' + hub.id">Edit</button>
                    <button class="cancel-btn" @click = "cancelChange(hub.id)" :ref="'cancel_' + hub.id">Cancel</button>
                    <button class="edit-btn" @click = "DeleteHubDetails(hub.id)" :ref="'delete_' + hub.id">Delete</button>
                 </td>
              </tr>
            </table>
        </div>
           
      </div>  
  </div>
  
</section>
</template>

<script>
    export default {
        name: 'unit',
        data() {
            return {
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                hubName: null,
                hubCode: null,
                hubAddress: null,
                hubList: [],
                pageDepth: ['Master Data', 'Hubs']
            }
        },
        methods: {
            updateDetails(){
                this.hubName = '';
                this.hubCode = '';
                this.update_details = true;
                this.view_details = false;
                this.hide_update = false;
                this.hide_view = true;; 
            },
            viewDetails(){
                this.view_details = true;
                this.update_details = false;
                this.hide_update = true;
                this.hide_view = false; 

                this.axios.get('hub')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.hubList = response.data.hubs;
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });
            },
            saveHub() {
                let data = {
                  name: this.hubName,
                  hub_code: this.hubCode,
                  hub_address: this.hubAddress
                }
                if(this.hubName && this.hubCode && this.hubAddress) {
                  this.axios.post('hub', data)
                  .then((response) => {
                    console.log('response:', response);
                    if(response.status == 200) {
                      this.$toasted.show(response.data.msg, { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'success',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'check'
                         }
                      });
                      this.resetFields();
                      this.viewDetails();
                    }
                  })
                  .catch((error) => {
                    console.log('error:', error.response);
                    this.$toasted.show("error", { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
                  });
                }
                else {
                  this.$toasted.show("Please fill All details", { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                          name : 'close'
                       }
                  });
                }
            },
            UpdateHubDetails(id) {

              if(event.target.innerHTML == 'Update') {

                let data = {

                  name: this.$refs['name_' + id][0].value,
                  hub_code: this.$refs['code_' + id][0].value,
                  hub_address: this.$refs['address_' + id][0].value

                }

                if(data.name && data.hub_code && data.hub_address) {

                    this.axios.put('hub/'+ id, data)
                    .then(response => {
                      console.log('response', response);
                      if(response.status == 200) {

                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'success',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'check'
                               }

                        });

                        this.$refs['cancel_' + id][0].classList.remove('displayBtn');
                        this.$refs['edit_' + id][0].innerHTML = 'Edit';
                        this.$refs['name_' + id][0].disabled = true;
                        this.$refs['code_' + id][0].disabled = true;
                        this.$refs['address_' + id][0].disabled = true;

                    }
                    else {

                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'error',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'close'
                               }
                        });

                    }
                  })
                  .catch(error => {

                    console.log('error', error.response);
                    this.$toasted.show(error.response.data.msg.errors[0], { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'close'
                           }
                    });

                  });
                }
                else{

                  this.$toasted.show('Fields can not be empty', { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                            name : 'close'
                         }
                  });

                }

              } 
              else {

                event.target.innerHTML = "Update";
                console.log('id', id);
                this.$refs['cancel_' + id][0].classList.add('displayBtn');
                this.$refs['name_' + id][0].disabled = false;
                this.$refs['code_' + id][0].disabled = false;
                this.$refs['address_' + id][0].disabled = false;

              }

            },
            cancelChange(id) {

              event.target.classList.remove('displayBtn');
              this.$refs['edit_' + id][0].innerHTML = 'Edit';
              this.$refs['name_' + id][0].disabled = true;
              this.$refs['code_' + id][0].disabled = true;
              this.$refs['address_' + id][0].disabled = true;

            },
            DeleteHubDetails(id) {
              if(confirm('Are you sure to delete this division ?')) {
                this.axios.delete(`hub/${id}`)
                .then(response => {
                  console.log('response', response);
                  if(response.data.status == "ok") {
                    this.removeHub(id);
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                  }
                })
                .catch(error => {
                  console.log('error', error.response);
                })
              }
            },
            removeHub(id) {
                let index = this.hubList.findIndex(hub => hub.id === id);
                this.hubList.splice(index, 1);
            },
            resetFields() {
              this.hubName = '',
              this.hubCode = '',
              this.hubAddress = ''
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }
    }    
</script>

<style scoped>
/*table styles*/
.displayBtn {
  display: block !important;
}
input:disabled, textarea:disabled {
  background-color: #ececec;
}
.small-col{
  width: 5%;
}
.small-col input[type="checkbox"]{
  width: 20px !important;
}
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
  outline: none;
}

/*table styles end*/
.edit-btn,.cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  float: right;
  margin-right: 8%;
  height: 30px;
  border-radius: 3px;
}
.cancel-btn {
  display: none;
}
.edit-btn:hover, .cancel-btn:hover{
  background-color: #feb901;
}
.view-box span{
    padding-left: 5%;
}
.hide-content{
    display: none;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  height: 100%;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5%;
  border-top: 3px solid #ffd20a;
}
.address-box {
    width: 80%;
    resize: none;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-left: 2%;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}


.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  height: 40px;
  position: absolute;
 /* right: 8%;
*/  padding-left: 3%;
  padding-right: 3%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input{
  width: 80%;
  outline: none;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
</style>