<template>

<section class="mode-of-dispatch">
  <h2>Type of Good</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
            <div class="tab-row">
              <div class="tab-col">
                  <label>Type Name</label><br>
                  <input type="text" name="" v-model= "goodsName">
              </div>
              <div class="tab-col">
                  <label>Mode of Dispatch</label><br>
                  <select class="dispatch-option" 
                      v-model= "modeOfDispatch" 
                      @change= "dispatchChange(modeOfDispatch)">
                      <option value="" disabled selected>Select Dispatch</option>
                      <option v-for="item in modeOfDispatchList" :value="item.id">{{item.name}}</option>
                  </select>
              </div>
           </div>

           <div class="tab-row">
                <div class="tab-col-4">
                    <label>Weight</label><br>
                    <input type="text" name="" v-model= "weight">
                </div>
                <div class="tab-col-4">
                    <label>Length</label><br>
                    <input type="text" name="" v-model= "length">
                </div>
                <div class="tab-col-4">
                    <label>Width</label><br>
                    <input type="text" name="" v-model= "width">
                </div>
                <div class="tab-col-4">
                    <label>Height</label><br>
                    <input type="text" name="" v-model= "height">
                </div>
           </div>

           <div class="tab-row">
              <div class="tab-col-4">
                  <label>M<sup>3</sup></label><br>
                  <input type="text" name="" v-model= "m3">
              </div>
              <div class="tab-col-4">
                  <label>Cubics / Kg</label><br>
                  <input type="text" name="" v-model= "cubicKg">
              </div>
              <div class="tab-col-4"></div>
              <div class="tab-col-4"></div>
           </div>

           <div class="checkbox-row">
            <div class="first-col">
              <label class="container">Danger Good
                <input type="checkbox" checked="checked" ref="dangerGood">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="second-col">
              <label class="container">Food
                <input type="checkbox" checked="checked" ref="food">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="third-col">
              <label class="container">Volume
                <input type="checkbox" ref="volume">
                <span class="checkmark"></span>
              </label>
            </div>
           </div>
            <button class="save-btn" @click= "saveTypeOfGoods">Save</button>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Type</th>
                <th>Mode of Dispatch</th>
                <th class="small-col">Weight</th>
                <th class="small-col">Length</th>
                <th class="small-col">Width</th>
                <th class="small-col">Height</th>
                <th class="small-col">M<sup>3</sup></th>
                <th class="small-col">Cubics/Kg</th>
                <th class="small-col">Danger Goods</th>
                <th class="small-col">Food</th>
                <th class="small-col">Volume</th>
                <th>&nbsp&nbsp</th>
              </tr>
              <tr v-for= "goods in goodsList">
                 <td>
                    <input type="text" 
                        :value="goods.type" 
                        :disabled = "true"
                        :ref = "'type_' + goods.id">
                  </td>
                  <!-- :value = "goods.provider.id"  -->
                  <!-- goods.modes[0].id -->
                 <td>
                    <select class="dispatch-option"
                        :value = "goods.modes.length > 0 ? goods.modes[0].id : ''" 
                        :disabled = "true"
                        :ref = "'modeOfDispatch_' + goods.id">
                        <option 
                            v-for = "item in modeOfDispatchList" 
                            :value = "item.id" >{{ item.name }}
                        </option>
                    </select>
                  <td class="small-col">
                    <input type = "text" 
                        :value = "goods.weight"  
                        :disabled = "true"
                        :ref = "'weight_' + goods.id">
                  </td>
                  <td class="small-col">
                    <input type = "text" 
                        :value="goods.length" 
                        :disabled = "true"
                        :ref = "'length_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "text" 
                        :value="goods.width" 
                        :disabled = "true"
                        :ref = "'width_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "text" 
                        :value="goods.height" 
                        :disabled = "true"
                        :ref = "'height_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "text" 
                        :value="goods.m3" 
                        :disabled = "true"
                        :ref = "'m3_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "text" 
                        :value="goods.cubic_kg" 
                        :disabled = "true"
                        :ref = "'cubicKg_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "checkbox" 
                        :checked= "goods.is_dg" 
                        :disabled = "true"
                        :ref = "'isDG_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "checkbox" 
                        :checked = "goods.is_food" 
                        :disabled = "true"
                        :ref = "'isFood_' + goods.id">
                  </td>
                  <td class="small-col">
                      <input type = "checkbox" 
                        :checked= "goods.volume == 'Y'" 
                        :disabled = "true"
                        :ref = "'volume_' + goods.id">
                  </td>
                  <td>
                    <button class="edit-btn" @click = "UpdateGoodsDetails(goods)" :ref="'edit_' + goods.id">Edit</button>
                    <button class="cancel-btn" @click = "cancelChange(goods.id)" :ref="'cancel_' + goods.id">Cancel</button>
                    <button class="edit-btn" @click = "deleteGoodsDetails(goods.id)" :ref="'delete_' + goods.id">Delete</button>
                  </td>
              </tr>
            </table>
        </div>    
      </div>  
  </div>
</section>
</template>

<script>
    export default {
        name: 'type-of-good',
        data() {
            return {
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                modeOfDispatch: null,
                modeOfDispatchSelected: [],
                modeOfDispatchList: [],
                goodsName: null,
                weight: null,
                length: null,
                width: null,
                height: null,
                m3: null,
                cubicKg: null,
                isDG: false,
                isFood: false,
                volume: 'N',
                goodsList: [],
                pageDepth: ['Master Data', 'Type of Goods']


            }
        },
        methods: {
            dispatchChange(newValue, oldValue) {
              console.log(newValue);
              this.modeOfDispatchSelected = [];
              this.modeOfDispatchSelected.push(newValue);
            },
            updateDetails(){
                this.update_details = true;
                this.view_details = false;
                this.hide_update = false;
                this.hide_view = true; 
            },
            viewDetails(){
                this.view_details = true;
                this.update_details = false;
                this.hide_update = true;
                this.hide_view = false;

                this.axios.get('goods')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.goodsList = response.data.goods;
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                }); 
            },
            fetchDispatchDetails() {
              this.axios.get('dispatch')
              .then((response) => {
                console.log('response:', response);
                if(response.status == 200) {
                  this.modeOfDispatchList = response.data.mode_of_dispatch;

                }
              })
              .catch((error) => {
                console.log('error:', error.response);
              });
            },
            saveTypeOfGoods() {
              this.volume = this.$refs.food.checked ? 'Y' : 'N';
              let data = {
                type: this.goodsName,
                mode_of_dispatch: this.modeOfDispatchSelected,
                weight: this.weight,
                length: this.length,
                width: this.width,
                height: this.height,
                m3: this.m3,
                cubic_kg: this.cubicKg,
                is_dg: this.$refs.dangerGood.checked,
                is_food: this.$refs.food.checked,
                volume: this.volume
              }
              console.log('data', data);
              this.axios.post('goods', data)
              .then((response) => {
                console.log('response:', response);
                if(response.status == 200) {
                  this.$toasted.show(response.data.msg, { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'success',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                        name : 'check'
                     }
                  });
                  this.resetFields();
                  this.viewDetails();
                }
              })
              .catch((error) => {
                console.log('error:', error.response);
                this.$toasted.show("Please fill All details", { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                        name : 'close'
                     }
                });
              });
            },
            deleteGoodsDetails(id) {
              if(confirm('Are you sure to delete this goods?')) {
                this.axios.delete(`goods/${id}`)
                .then(response => {
                  console.log('response', response);
                  if(response.data.status == "ok") {
                    this.removeGoods(id);
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                  }
                })
                .catch(error => {
                  console.log('error', error.response);
                })
              }
            },
            removeGoods(id) {
                let index = this.goodsList.findIndex(goods => goods.id === id);
                this.goodsList.splice(index, 1);
            },
            UpdateGoodsDetails(goods) {

              if(event.target.innerHTML == 'Update') {

                let data = {

                  type: this.$refs['type_' + goods.id][0].value,
                  weight: this.$refs['weight_' + goods.id][0].value,
                  length: this.$refs['length_' + goods.id][0].value,
                  width: this.$refs['width_' + goods.id][0].value,
                  height: this.$refs['height_' + goods.id][0].value,
                  m3: this.$refs['m3_' + goods.id][0].value,
                  cubic_kg: this.$refs['cubicKg_' + goods.id][0].value,
                  is_dg: this.$refs['isDG_' + goods.id][0].checked,
                  is_food: this.$refs['isFood_' + goods.id][0].checked,
                  volume: this.$refs['volume_' + goods.id][0].value ? 'Y' : 'N' 

                }
                data.mode_of_dispatch = [];
                data.mode_of_dispatch.push(this.$refs['modeOfDispatch_' + goods.id][0].value);
                console.log('data', data);

                if(data.type) {

                    this.axios.put('goods/'+ goods.id, data)
                    .then(response => {
                      console.log('response', response);
                      if(response.status == 200) {

                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'success',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'check'
                               }

                        });

                        this.$refs['cancel_' + goods.id][0].classList.remove('displayBtn');
                        this.$refs['edit_' + goods.id][0].innerHTML = 'Edit';
                        this.$refs['type_' + goods.id][0].disabled = true;
                        this.$refs['modeOfDispatch_' + goods.id][0].disabled = true;
                        this.$refs['weight_' + goods.id][0].disabled = true;
                        this.$refs['length_' + goods.id][0].disabled = true;
                        this.$refs['width_' + goods.id][0].disabled = true;
                        this.$refs['height_' + goods.id][0].disabled = true;
                        this.$refs['m3_' + goods.id][0].disabled = true;
                        this.$refs['cubicKg_' + goods.id][0].disabled = true;
                        this.$refs['isDG_' + goods.id][0].disabled = true;
                        this.$refs['isFood_' + goods.id][0].disabled = true;
                        this.$refs['volume_' + goods.id][0].disabled = true;

                    }
                    else {

                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'error',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'close'
                               }
                        });

                    }
                  })
                  .catch(error => {

                    console.log('error', error.response);
                    this.$toasted.show(error.response.data.msg.errors[0], { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'close'
                           }
                    });

                  });
                }
                else{

                  this.$toasted.show('Fields can not be empty', { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                            name : 'close'
                         }
                  });

                }

              }
              else {

                event.target.innerHTML = "Update";
                console.log(goods.id);
                this.$refs['cancel_' + goods.id][0].classList.add('displayBtn');
                this.$refs['type_' + goods.id][0].disabled = false;
                this.$refs['modeOfDispatch_' + goods.id][0].disabled = false;
                this.$refs['weight_' + goods.id][0].disabled = false;
                this.$refs['length_' + goods.id][0].disabled = false;
                this.$refs['width_' + goods.id][0].disabled = false;
                this.$refs['height_' + goods.id][0].disabled = false;
                this.$refs['m3_' + goods.id][0].disabled = false;
                this.$refs['cubicKg_' + goods.id][0].disabled = false;
                this.$refs['isDG_' + goods.id][0].disabled = false;
                this.$refs['isFood_' + goods.id][0].disabled = false;
                this.$refs['volume_' + goods.id][0].disabled = false;
              }
            },
            cancelChange(id) {

              event.target.classList.remove('displayBtn');
              this.$refs['edit_' + id][0].innerHTML = 'Edit';
              this.$refs['type_' + id][0].disabled = true;
              this.$refs['modeOfDispatch_' + id][0].disabled = true;
              this.$refs['weight_' + id][0].disabled = true;
              this.$refs['length_' + id][0].disabled = true;
              this.$refs['width_' + id][0].disabled = true;
              this.$refs['height_' + id][0].disabled = true;
              this.$refs['m3_' + id][0].disabled = true;
              this.$refs['cubicKg_' + id][0].disabled = true;
              this.$refs['isDG_' + id][0].disabled = true;
              this.$refs['isFood_' + id][0].disabled = true;
              this.$refs['volume_' + id][0].disabled = true;

            },
            resetFields() {
             this.goodsName =  '';
             this.modeOfDispatch = null;
             this.weight = '';
             this.length = '';
             this.width = '';
             this.height = '';
             this.m3 = '';
             this.cubicKg = '';
             this.isDG = false;
             this.isFood = false;
             this.volume = 'N';
            }
        },
        activated() {
          this.fetchDispatchDetails();
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }
    }    
</script>

<style scoped>
/*table styles*/
select, input{
  outline: none;
  background-color: #fff;
}
select:disabled, input:disabled {
  background-color: #ececec;
}

.small-col{
  width: 5%;
}
.displayBtn {
  display: block !important;
}
.small-col input[type="checkbox"]{
  width: 20px !important;
}
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
}


/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  margin-top: 10px;
  color: black;
  width: 60px;
  height: 30px;
  border-radius: 3px;
}
.cancel-btn {
  display: none;
}
.edit-btn:hover, .cancel-btn:hover{
  background-color: #feb901;
}
.chips{
  color: white;
  margin-top: 3%;
  padding: 0.5% 5% 0.5% 5% !important;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 1%;
}
.danger-chips{
    background-color: #ff580a;
}
.green-chips{
  background-color: #00d400;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);

  padding: 5%;
  border-top: 3px solid #ffd20a;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}
.view-box span{
    padding-left: 5%;
}
.view-box label{
  width: 20%;
}
.hide-content{
    display: none;
}
input[type="checkbox"]
{
    vertical-align:middle;
    margin-right: 10%;
    margin-top: 2px;
}
input[type="checkbox"]:disabled {
  background-color: blue;
}
.checkbox-row{
  width: 100%;
  display: flex;
  margin-bottom: 3%;
}
.first-col, .second-col, .third-col{
  width: 200px;
 
}
.checkbox-label{
  width: 120px;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 15%;
  height: 100%;
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  outline: none;
  height: 40px;
  position: relative;
  left: 0%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input, .dispatch-option{
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
.dispatch-option{
   width: 90%;
}
.tab-row{
  display: flex;
  margin-bottom: 5%;
}
.tab-col{
  flex: 50%;
}
.tab-col-4{
  flex: 25%;
}

.tab-col-4 input[type="text"]{
  width: 80%;
}
.tab-col input[type="text"]{
  width: 90%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px; 
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffd10a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>