<template>
    <div class="side-nav" id="side-nav">
         <a href="/">
            <div class="logo-div">
                <img src="../assets/img/logos.PNG" />
            </div>
         </a> 

         <router-link to="/home" exact>
            <div class="nav-element active">
                <i class="material-icons">home</i>
                <a>DASHBOARD</a>
            </div>
         </router-link>

         <router-link to="/home/booking" exact v-if="!isUser">
            <div class="nav-element active">
                <i class="material-icons">description</i>
                <a>SUBMIT REQUEST</a>
            </div>
         </router-link>

         <router-link to="/home/service" exact v-if="isUser">
            <div class="nav-element active">
                <i class="material-icons">description</i>
                <a>SUBMIT REQUEST</a>
            </div>
         </router-link>

         <router-link to="/home/addressBook" exact>
            <div class="nav-element active">
                <i class="material-icons">account_box</i>
                <a>ADDRESS BOOK</a>
            </div>
         </router-link>

         <router-link to="/home/reports" exact v-if="!isUser">
            <div class="nav-element active">
                <i class="material-icons">equalizer</i>
                <a>REPORTS</a>
            </div>
         </router-link>

         <router-link to="/home/updateBooking" exact>
            <div class="nav-element active">
                <i class="material-icons">inbox</i>
                <a>VIEW PENDING</a>
            </div>
         </router-link>

         <router-link to="/home/trackAndTrace" exact v-if="!isUser">
            <div class="nav-element active">
                <i class="material-icons">motorcycle</i>
                <a>TRACK AND TRACE</a>
            </div>
         </router-link>

         <router-link to="/home/bookings" exact>
            <div class="nav-element active">
                <i class="material-icons">history</i>
                <a> VIEW PROCESSED</a>
            </div>
         </router-link>

         <router-link to="/home/profile" exact>
            <div class="nav-element active">
                <i class="material-icons">settings</i>
                <a> PROFILE & SETTINGS</a>
            </div>
         </router-link>

          <router-link to="/home/draft-list" exact>
            <div class="nav-element active">
                <i class="material-icons">drafts</i>
                <a> DRAFTS</a>
            </div>
         </router-link>

         <router-link to="/home/password-management" exact v-if="isSuperAdmin">
            <div class="nav-element active">
                <i class="material-icons">lock</i>
                <a> PASSWORD MANAGEMENT</a>
            </div>
         </router-link>

         <hr class="nav-seperator"> 
         
        <a v-if = "isSuperAdmin">
            <div class="nav-element active" @click='rotate'>
                <i class="material-icons">note_add</i>
                <a> MASTER DATA</a><i class="material-icons dropdown-arrow" ref="arrow">keyboard_arrow_down</i>
            </div>
            <div class="master-data-dropdown" :class="{hello:collapsed}">
                <router-link to="/home/master-data-mode-of-dispatch"><button>Mode of Dispatch</button></router-link><br>
                 <router-link to="/home/master-data-type-of-good"><button>Type of Good</button><br></router-link>
                 <router-link to="/home/master-data-carriers"><button>Carriers</button></router-link>
                 <router-link to="/home/master-data-service-provider"><button>Carrier Services</button></router-link>
                 <router-link to="/home/master-data-unit"><button>Unit</button></router-link>
                 <router-link to="/home/master-data-division"><button>Division</button></router-link>
                 <router-link to="/home/master-data-hub"><button>Hub</button></router-link>
                 <router-link to="/home/master-data-cost-center"><button>Cost Center</button></router-link>
            </div>
         </a>


         <router-link to="/home/help" exact>
            <div class="nav-element active">
                <i class="material-icons">help</i>
                <a>HELP</a>
            </div>
         </router-link>

         <router-link to="/home/support" exact>
            <div class="nav-element active">
                <i class="material-icons">headset_mic</i>
                <a>SUPPORT</a>
            </div>
         </router-link>
    </div>
</template>

<script>
    export default {
        name: 'side-nav',
        data(){
            return{
                collapsed: false,
                isSuperAdmin: false,
                isUser: true
            }
        },
        methods: {
            rotate(){
                this.collapsed = !this.collapsed;
           }
        },
        created() {
            let user = JSON.parse(localStorage.user);
            this.isSuperAdmin = user.is_super_admin ? true : false;
            this.isUser = user.is_admin ? false : true;
        }
    }    
</script>

<style lang="scss">
.master-data-dropdown{
    transition: 1s ease !important; 
}
.dropdown-arrow{
    position: absolute;
    text-align: right;
    width: 80%;
    top: 20% !important;
    font-size: 25px !important;

}

.master-data-dropdown{
    height: 420px;
    transition: 1s ease;
}

.hello{
    height: 0px;
    display: none;
}

.master-data-dropdown button{
 /* border: 1px solid red;*/
  padding: 5%;
  height: 50px;
  width: 100%;
  transition: 1s ease;
  background-color: #1b1b1b;
  border: none; 
  /*border-bottom: 1px solid #263238;*/
  text-align: left;
  padding-left: 30%;
  color: white;
}
.master-data-dropdown button:hover{
    background-color: black;
}
.side-nav{
    width: 20%;
    display: block;
    height: 100vh;
    z-index: 22;
    position: fixed;
    transition: 1s ease;
    background-color: #1e1e1e;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    float: left;
    overflow-y: scroll;
    .logo-div{
        width: 100%;
        position: relative;
        height: 15%;
        background-color: #323232;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
        img{
            object-fit: cover;
            width: 80%;
            display: block;
            padding-top: 10%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .nav-element{
        width: 100%;
        height: 8%;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        padding-top: 5%;
        cursor: pointer;
        a{
            color: white;
            text-decoration: none;
            position: absolute;
            left: 25%;
            top: 26%;
            cursor: pointer;
            transition: 1s ease;

        }
        i{
            color: white;
            position: absolute;
            left: 10%;
            top: 27%;
            transition: 0.7s ease;
            font-size: 16px;
            img{position: relative;top: -3px;}
        }   
    }
        .nav-seperator{
            width: 80%;
            border-top: 2px solid rgba(0,0,0,0.3);
        }
}

.router-link-exact-active {

    .active{
        background-color: #1b1b1b;
        border-left: 3px solid #ffd10a;
    }

    a{
        color: #ffd10a;
    }

   
 }
.router-link-exact-active .nav-element i{
        color: #ffd10a;
    }


</style>