<template>
    <div class="dashboard-content">
	   <div class="domestic-content" id="shipment-details">
            <div class="domestic-head">
                <img src="../../../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <router-link to="/home/help" >
                <div class="help-link-div">
                	<span class="help-link">
                		<i class="material-icons">play_arrow</i>
                		<span class="help-text">Help</span>
                		<i class="material-icons">help</i>
                	</span>
                </div>
            </router-link>
            <br>
            <h4>ITEM DETAILS</h4>
            <hr class="start-shipping-line">
            <div class="item-details-box">
                <!-- single row content -->
                <div class="item-details-content">
                    <div class="input-box reference-box">
                        <label>Item Reference</label><br>
                        <input type="text" name="" placeholder="Enter any name" v-model="itemName">
                    </div>
                    <div class="input-box package-box">
                        <label>Package </label><br>
                        <input type="text" name="" :value="currentGoods.type" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Weight (kg) </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentWeight">
                    </div>
                    <div class="input-box item-box">
                        <label>Items</label><br>
                        <input type="text" name="" v-model="itemCount">
                    </div>
                    <div class="input-box lwh-box">
                        <label>L(m) </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentLength">
                    </div>
                    <div class="input-box lwh-box">
                        <label>W(m) </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentWidth">
                    </div>
                    <div class="input-box lwh-box">
                        <label>H(m) </label><br>
                        <input type="text" name=""  :disabled= "isDisabled" v-model = "currentHeight">
                    </div>
                    <div class="input-box lwh-box">
                        <label>m3 </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentm3">
                    </div>
                    <div class="input-box weight-box">
                        <label>Cubic kg </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentCubicKg">
                    </div>
                    <div class="input-box weight-box">
                        <label>Charge Unit </label><br>
                        <input type="text" name="" :disabled= "isDisabled" v-model = "currentChargeUnit">
                    </div>
                    <div class="input-box item-box">
                        <label>DG </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked= "currentGoods.is_dg" :disabled= "isDisabled">
                          <span class="checkmark"></span>
                        </label> 
                   </div>
                    <div class="input-box item-box">
                        <label>Food </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked= "currentGoods.is_food" :disabled= "isDisabled">
                          <span class="checkmark"></span>
                        </label>
                    </div>
                    <!-- <button class="close-item-btn"></button> -->
            	</div>
            	<!-- single row content -->

                <!-- <hr class="line"> -->

                <!--  Total details showing row  -->  
                <div class="sum-row">
                    <!-- <div class="input-box weight-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box item-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box m3-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box cubic-sum">
                        <input type="text" name="" disabled>
                    </div> -->
                    <!-- <button class="item-add-btn">ADD</button> -->
                </div>

            </div>
            <br>
            <div class="row">
            	<div class="col-md-6">
            		<h5>DESCRIPTION OF GOODS</h5>
            	</div>
            	<div class="col-md-6">
            		<h5>REMARKS</h5>
            	</div>
            </div>
            
            <!-- shipment details conatiner -->
            <div class="shipment-details-box">
                <div class="row">
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter the nature of goods.." maxlength="500" v-model="goodsDescription"></textarea>
                    </div>
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter any remarks" maxlength="500" v-model= "remarks"></textarea>
                    </div>
                </div>
            </div> 
            <br>
            <br>
            <!------Scheduled pickup section-------->
            <div class="row">
            	<div class="col-md-6">
            		<h5>SCHEDULE PICKUP</h5>
            	</div>
            </div>
            <div class="schedule-pickup-box">
                <div class="row">
                    <div class="col-md-6">
                        <label>Location of package(s) <span class="mandatory">*</span></label>
                        <input type="text" name="" placeholder="" 
                                v-model="packageLocation"
                                ref= "package_location"
                                @focus = "removeWarning('package_location')">
                        <br>
                        <br>
                        <label>Pickup instructions<br> (upto 70 characters) <span class="mandatory">*</span></label>
                       <textarea type="text" name="" placeholder="" 
                                v-model ="pickupInstructions"
                                ref = "pickup_instructions"
                                @focus = "removeWarning('pickup_instructions')">
                        </textarea>
                        <!-- <label>Other Charges</label>
                        <input type="text" name="" placeholder="Add other chrages" v-model="otherCharges"> -->
                    </div>
                    <div class="col-md-6">
                        <label>Pickup Date <span class="mandatory">*</span></label>
                        <input type="date" name="pickupDate" 
                                v-model="pickupDate"
                                min="2014-05-11" 
                                max="2200-05-20"
                                ref = "pickup_date"
                                @focus = "removeWarning('pickup_date')">
                        <label>My Package will be Ready By <span class="mandatory">*</span></label>
                        <div>
                            <input type="time" name="" 
                                    v-model= "pickupTime"
                                    ref = "pickup_time"
                                    @focus = "removeWarning('pickup_time')">
	                        <!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
	                    </div>
                        <br>
                        <label>Office close at <span class="mandatory">*</span></label>
                        <div>
                            <input type="time" name="" 
                                    v-model= "officeCloseTime"
                                    ref = "office_close_time"
                                    @focus = "removeWarning('office_close_time')">
                        	<!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
                        </div>
                        <p class="mandatory float-right" style="margin-right: 5%;">Please keep your package ready By {{ pickupTime }}</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--Update booking details section------>
            <div v-show= "isUpdate">
                <div class="row" >
                    <div class="col-md-6">
                        <h5>UPDATE BOOKING DETAILS</h5>
                    </div>
                </div>
                <div class="update-booking-details">
                    <div class="row">
                        <div class="col-md-6">
                            <label>No.of parcels / documents</label>
                            <input type="text" name="" value="0">

                            <label>Dispatched Date</label>
                            <input type="date" name="">

                            <label>Dispatch Company</label>
                            <select>
                                <option>My Unit</option>
                                <option>Other Unit</option>
                                <option>Global Addresse</option>    
                            </select>

                            <label>Cost</label>
                            <input type="text" name="" value ="0">
                        </div>
                        <div class="col-md-6">
                            <label>Weight</label>
                            <input type="text" name="" value="0.000">

                            <label>Reg Mode of Dispatch</label>
                            <select ref="">
                                <option>My Unit</option>
                                <option>Other Unit</option>
                                <option>Global Addresse</option>    
                            </select>

                            <label>Airway Bill</label>
                            <input type="text" name="">

                            <label>Reg Remarks</label>
                            <textarea placeholder="Enter the remarks.."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <!-- <router-link :to="{name:'EditDraftService', params:{id: $route.params.id}}" tag="div" class="" exact> -->
                    <button class="previous-button domestic-btn" @click = "previousWindow">PREVIOUS</button>
                <!-- </router-link> -->
                <router-link to="/home/booking" tag="div" class="" exact>
                    <button class="cancel-button domestic-btn">CANCEL</button>
                </router-link>
                    <button class="next-button domestic-btn" @click="storeData">SAVE & NEXT</button>
            </div>
	   </div>
    </div>
</template>
<script type="text/javascript" src="rangeslide.min.js"></script>
<script>
	import DomesticSlider from '../../../components/domestic-slider';
    import methods from './methods';

    // console.log(goods[0]);

	export default { 
		name: 'EditDraftShipment',
        components: {
            DomesticSlider
        },
        data() {
            return {
                pageDepth: ['Booking', 'Edit Shipment details'],
                page: 'editShipmentDetails',
                isUpdate: false,
                itemName: '',
                itemCount: 1,
                goodsDescription: '',
                remarks: '',
                packageLocation: '',
                pickupInstructions: '',
                otherCharges: '',
                pickupDate: '',
                pickupTime: '08:00',
                officeCloseTime: '18:00',
                courierBookingData: {},
                goodsDetails: {},
                requesterName: this.passRequesterName,
                currentGoods: '',
                isDisabled: false,
                currentWeight: '',
                currentLength: '',
                currentHeight: '',
                currentWidth: '',
                currentm3: '',
                currentCubicKg: '',
                currentChargeUnit: '',
                draftDetails: {}
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
                // vm.requesterName = vm.passRequesterName;
                vm.currentGoods = JSON.parse(localStorage.currentGoods);
                // if(vm.currentGoods.volume == 'N') {
                //     vm.isDisabled = true;
                // }
                // else if(vm.currentGoods.volume == 'Y') {
                //     vm.isDisabled = false;

                // }
                console.log(from);
                if(from.name != 'editConfirmShipment') {
                    vm.fillDetails();
                    // vm.setCourier(to.params.id);
                    console.log('from',from.name);
                }
            });
        },
        created() {
            this.pickupDate = new Date().toJSON().slice(0,10).replace(/-/g,'-');
        },
        activated() {
            this.goodsDetails = JSON.parse(localStorage.getItem("goods"));
            this.userDetails = JSON.parse(localStorage.user);
            this.fetchDraftDetails();
        },
        mounted() {

        },
        methods: methods

	}


</script>

<style lang="scss" src="../../../assets/css/shipmentDetails.scss"></style>
